$font: Raleway;
$cursived: 'Lobster';
$black: #424242;

@mixin border($radius: 0, $border_color: 0, $border_weight: 1px) {
	@if $border_color != 0 { border: $border_weight solid $border_color; } 
	@if $radius != 0
	{
		border-radius: $radius;
		-moz-border-radius: $radius;
		-webkit-border-radius: $radius;
		-o-border-radius: $radius;
	}
}

@mixin block_size($width, $height)
{
	width: $width;
	height: $height;
}

@mixin block_pos($top, $left)
{
	top: $top;
	left: $left;
}

@mixin material_shadow($opacity, $color1: 255, $color2: 255, $color3: 255)
{
	box-shadow: 2px 4px 10px rgba($color1, $color2, $color3, $opacity);
}

#page_add_avatar_modal {
	display: none;
	box-shadow: 3px -10px 55px rgba(0,0,0,.5);
    position: fixed;
    @include block_size(0,0);
    background: #fff;
    top: 10vh;
    left: 15vw;
    z-index: 5
}

#aded_modal_photo > div{
	&>div
	{
		margin: 2vw;
    @include block_size(15vw,15vw);
    border: 2px solid #ccc;
    &>input
    {
    	position: absolute;
			opacity: 0;
    	@include block_size(15vw,15vw);
    	height: 15vw;
    	width: 15vw;
    }
    &>i
    {
    	position: absolute;
			margin-left: 3vw;
	    margin-top: 2vw;
	    font-size: 10vw;
	    text-align: center;
	    color: #ccc;
    }
	}
}

#aded_modal_video,#aded_modal_audio{
	padding: 2vw;
	&>p
	{
		font-size: 1vw;
		font-family: $font;
		color: #545454;
	}
	&>label
	{
		font-size: 1vw;
		font-family: $font;
		color: #545454;
	}
	&>input
	{
		margin-top: 1vw;
		padding: 0.2vw;
		font-size: 1vw;
	}
	&>button
	{
		cursor: pointer;
		margin-top: 1vw;
		border: none;
		background-color: #ccc;
		font-size: 1.2vw;
		font-family: $font;
		padding: 0.4vw;
	}
}

#modal_add_wall,#modal_update_wall
{
	display: none;
	box-shadow: 3px -10px 55px rgba(0,0,0,.5);
  position: fixed;
  @include block_size(0,0);
  background: #fff;
  @include block_pos(10vh,15vw);
  z-index: 8;
  &>#modal_add_wall_top,#modal_update_wall_top
  {
		display: flex;
	  justify-content: space-between;
	  padding: 10px 20px 5px 20px;
	  border-bottom: 1px solid #ccc;
		box-shadow: 2px 4px 10px rgba(0,0,0,.2);
		&>i
		{
			font-size: 16px;
	    padding-top: 7px;
	    cursor: pointer;
		}
  }
  &#modal_add_wall_overflow,#modal_update_wall_overflow
  {

  }
  #modal_add_wall_info,#modal_update_wall_info
  {
  	padding: 1vw;
  	width: 20vw;
  	float: left;
		& label
		{
			font-family: Raleway;
			font-size: 15px;
			color: $black;
			letter-spacing: 2px;
		}

		& input
		{
			margin-bottom: 1vw;
			outline: none;
			border: none;
			border-bottom: 1px solid #eeeeee;
			font-size: 15px;
			font-family: $cursived, cursive;
			width: 100%;
			color: $black;
			letter-spacing: 2px;
			padding: 0.4vw;
		}

		& textarea
		{
			outline: none;
			resize: none;
			font-family: Raleway;
			color: $black;
			font-size: 12px;
			padding: 0.4vw;
			width: 100%;
		}
  }
	#modal_add_wall_settings,#modal_update_wall_settings
	{
		padding: 1vw;
		float: left;
		width: 46vw;
		min-height: 25vh;
		& #modal_add_wall_settings_type,#modal_update_wall_settings_type
		{
			&>button
			{
				outline: none;
				cursor: pointer;
				background: transparent;
				border: none;
				color: #000;
				font-size: 15px;
				text-decoration: none;
				letter-spacing: 2px;
				margin-left: 1vw;
				opacity: 0.8;
			}
			&>button:hover
			{
				text-decoration: underline;
			}
			& #modal_add_wall_settings_type_active,#modal_update_wall_settings_type_active
			{
				opacity: 1;
			}
		}
		& .modal_add_wall_settings_bl,.modal_update_wall_settings_bl
		{
			padding: 1vw;
			display: none;
			&>label
			{
				font-size: 15px;
				color: $black;
				font-family: Raleway;
			}
		}
		& #modal_add_wall_settings_colorpicker,#modal_update_wall_settings_colorpicker
		{
			cursor: pointer;
			margin-top: 1vh;
			@include block_size(6vw,3vh);
			background: $black;
			box-shadow: 1px 1px 7px rgba(0,0,0,0.3);
		}
		& .modal_add_wall_settings_active,.modal_update_wall_settings_active
		{
			display: block;
		}
	}
	#modal_add_wall_cards,#modal_update_wall_cards
	{
		width: 34vw;
		float: left;
		&>p
		{
			display: block;
			width: 100%;
			font-size: 15px;
			font-family: $cursived, cursive;
			margin-left: 1vw;
			color: $black;
		}
		& #modal_add_wall_cards_shops,#modal_update_wall_cards_shops
		{
			display: flex;
			width: 34vw;
			& #modal_add_wall_cards_shop,#modal_update_wall_cards_shop
			{
				cursor: pointer;
				@include material_shadow(0.4,0,0,0);
				margin: 1vw;
				width: 10vw;
				@include border(4px);
				&>div:nth-child(1)
				{
					width: 100%;
					&>img
					{
						@include block_size(100%,22vh);
					}
				}
				&>div:nth-child(2)
				{
					&>p:nth-child(1)
					{
						font-family: $cursived,cursive;
						font-size: 15px;
						color: $black;
						letter-spacing: 3px;
						margin: 0.4vw;
					}
					&>p:nth-child(2)
					{
						font-family: Raleway;
						font-size: 15px;
						color: $black;
						margin: 0.4vw;
					}
				}
				&:hover
				{
					@include material_shadow(0.8,0,0,0);
				}
			}
		}
	}

	& #modal_add_wall_cards_products,#modal_update_wall_cards_products
	{
		display: flex;
		width: 34vw;
		& #modal_add_wall_cards_product,#modal_update_wall_cards_product
		{
			cursor: pointer;
			@include material_shadow(0.4,0,0,0);
			margin: 1vw;
			width: 10vw;
			@include border(4px);
			&>div:nth-child(1)
			{
				width: 100%;
				&>img
				{
					@include block_size(100%,22vh);
				}
			}
			&>div:nth-child(2)
			{
				&>p:nth-child(1)
				{
					font-family: $cursived,cursive;
					font-size: 15px;
					color: $black;
					letter-spacing: 3px;
					margin: 0.4vw;
				}
				&>p:nth-child(2)
				{
					font-family: Raleway;
					font-size: 15px;
					color: $black;
					margin: 0.4vw;
				}
			}
			&:hover
			{
				@include material_shadow(0.8,0,0,0);
			}
		}
	}

	#modal_add_wall_preview,#modal_update_wall_preview
	{
		z-index: 2;
    background: $black;
    box-shadow: -9px 2px 30px rgba(0, 0, 0, 0.1);
    width: 36vw;
    float: left;
		& #modal_add_wall_preview_overlay,#modal_update_wall_preview_overlay
		{
			@include block_size(36vw,36.5vh);
	    position: absolute;
	    background: #000;
	    opacity: 0.5;
	    z-index: 2;
		}
		& #modal_add_wall_preview_main,#modal_update_wall_preview_main
		{
			@include block_size(36vw,36.5vh);
			position: absolute;
			background: transparent;
			&>img
			{
				@include block_size(100%,100%);
				object-fit: cover; /* Do not scale the image */
				object-position: center;
			}
		}
		& #modal_add_wall_preview_cont,#modal_update_wall_preview_cont
		{
			position: absolute;
			z-index: 2;
			&>p:nth-child(1)
			{
				font-size: 15px;
		    color: #fff;
		    font-family: $cursived,cursive;
		    margin: 1vw;
		    z-index: 2;
		    letter-spacing: 3px;
			}
			&>p:nth-child(2)
			{
				margin: 1vw;
		    width: 50vw;
		    font-family: $font;
		    font-size: 10px;
		    letter-spacing: 1px;
		    color: #fff;
		    opacity: 0.8;
			}
			& #modal_add_wall_preview_cont_cards,#modal_update_wall_preview_cont_cards
			{
					display: flex;
					flex-direction: row;
					margin-left: 2vw;
					@include block_size(8vw,25vh);

					&>.modal_add_wall_preview_cont_cards_wall_cards,.modal_update_wall_preview_cont_cards_wall_cards
					{
						@include block_size(8vw,25vh);
				 	 	@include material_shadow(0.4);
				 	 	margin-right: 2vw;
						&>div:nth-child(1)
					  {
					  	@include block_size(2.5vw,2.5vw);
					  	position: absolute;
					  	margin-top: -2.5vh;
					  	margin-left: -2.5vh;
					  	&>img
					  	{
					  		@include block_size(100%,100%);
					  	}
					  }

					  &>div:nth-child(2)
					  {
					  	width: 8vw;
					  	height: 15vh;
					  	&>img
					  	{
					  		@include block_size(100%, 100%);
					  	}
					  }

					  &>div:nth-child(3)
					  {
					  	&>p
					  	{
					  		letter-spacing: 3px;
					  		text-align: center;
					  		font-family: $cursived, cursive;
					  		font-size: 10px;
					  		color: #fff;
					  		transform: rotate(-10deg);
					  		text-shadow: 1px 1px 1px #fff, 1px 1px 1px gold;
					  		margin-top: 1vh;
					  	}
					  }

					  &>div:nth-child(4)
					  {
					  	letter-spacing: 3px;
				  		font-family: $cursived, cursive;
				  		font-size: 8px;
				  		color: #fff;
				  		transform: rotate(-7deg);
				  		text-shadow: 1px 1px 1px gold, 1px 1px 1px #fff;
				  		margin-top: 0.3vh;
				  		margin-left: 0.3vw;
				  		opacity: 0.9;
					  }

					  &>div:nth-child(5)
					  {
					  	text-align: right;
					  	&>a{
					  		font-family: $cursived, cursive;
					  		letter-spacing: 1.5px;
					  		float: right;
					  		display: block;
					  		width: 3vw;
					  		margin-right: 0.5vw;
					  		margin-top: 0.3vh;
					  		padding: 0.2vw;
					  		font-size: 8px;
					  		background: #322DD8;
								color: #fff;
								text-align: center;
								text-decoration: none;
								@include border(50px);
								transform: rotate(5deg);
								box-shadow: 1px 1px 1px gold;
					  	}
					  }

					  &>div:nth-child(6)
					  {
					  	margin-top: -20vh;
					  	position: absolute;
					  	background: #fff;
					  	opacity: 0;
							@include block_size(8vw,25vh);

							-webkit-animation: fadeInFromNone 5s infinite ease-in-out;
				    	-moz-animation: fadeInFromNone 5s infinite ease-in-out;
				    	-o-animation: fadeInFromNone 5s infinite ease-in-out;
				    	animation: fadeInFromNone 5s infinite ease-in-out;
					  }
					}
			}
		}
		& #modal_add_wall_preview_us_info,#modal_update_wall_preview_us_info
		{
			margin: -3vh 0 0 31vw;
			z-index: 3;
			position: absolute;
			&>img
			{
				border-radius: 50%;
				@include block_size(3vw,3vw);
				border: 1px solid #fff;
			}
			&>p
			{
				color: #fff;
				font-family: $font;
				letter-spacing: 2px;
				font-size: 10px;
				text-align: center;
			}
		}
	}
}



#modal_new_message
{
	display: none;
	z-index: 2;
	background-color: #fff;
	position: absolute;
	@include block_pos(30vh,25vw);
	@include block_size(50vw,50vh);
	@include material_shadow(0.8,0,0,0);
	@include border(4px);
	& #modal_new_message_header
	{
		padding: 0.5vw;
		display: flex;
		border-bottom: 1px solid darkgray;
		& div
		{
			& img
			{
				margin-top: 0.3vh;
				@include border(50%);
				@include block-size(4vw,4vw);
			}
			& p
			{
				margin-left: 1vw;
				margin-top: 2vh;
				font-family: $cursived, cursive;
				font-size: 15px;
				color: $black;
			}
			& i
			{
				cursor: pointer;
				color: $black;
				opacity: 0.8;
				margin-top: 3vh;
				margin-left: 33vw;
			}
		}
	}

	& #modal_new_message_content
	{
		& textarea
		{
			background: #eee;
			outline: none;
			resize: none;
			border: none;
			@include block_size(49vw,37vh);
			font-family: $font;
			color: #424242;
			font-size: 15px;
			letter-spacing: 1px;
			padding: 0.5vw;
		}
		& div
		{
			cursor: pointer;
			position: absolute;
			margin-top: -4vh;
			margin-left: 42vw;
			& i
			{
				margin-left: 0.5vw;
				color: #424242;
				font-size: 15px;
			}
			& i:hover
			{
				color: #424242;
			}
		}
	}
}



#modal_create_shop,#modal_update_shop,#modal_add_prod,#modal_update_prod{
	display: none;
	box-shadow: 3px -10px 55px rgba(0,0,0,.5);
  position: fixed;
  @include block_size(0,0);
  background: #fff;
  @include block_pos(10vh,15vw);
  z-index: 8;
	&>h1
	{
		border: none;
		padding: 0;
		font-style: none;
    font-weight: 100;
	}
	&>div:nth-child(2)
	{
		display: flex;
		&>div:nth-child(2)
		{
  		@include block_size(200px,400px);
			padding: 15px;
    	border-right: 1px solid #ccc;
    	&>input
    	{
    		position: absolute;
				z-index: 3;
  			@include block_size(200px,200px);
				opacity: 0;
				cursor: pointer;
    	}
    	&>img
    	{
    		position: absolute;
				z-index: 3;
  			@include block_size(200px,200px);
				cursor: pointer;
    	}
    	&>i
    	{
    		position: absolute;
		    font-size: 200px;
		    color: #747474;
		    background: #fff;
    	}
		}
		&>div:nth-child(3)
		{
			margin-left: 20px;
    	margin-top: 20px;
    	&>input
    	{
    		width: 95%;
		    padding: 6px;
		    font-family: $font;
		    font-size: 14px;
		    margin-bottom: 10px;
    	}
    	&>textarea
    	{
  			@include block_size(95%,40%);
		    padding: 6px;
		    font-size: 14px;
		    font-family: $font;
    	}
    	&>button
    	{
    		cursor: pointer;
				font-size: 16px;
				font-family: $font;
				padding: 7px 25px 7px 25px;
				border: transparent;
				color: #fff;
				background: #747474;
				margin-bottom: 20px;
		    background-position: center;
		    transition: background 0.8s;
				border-radius: 7px;
    	}
    	&>button:active
    	{
    		background-color: #424242;
			  background-size: 100%;
			  transition: background 0s;
    	}
		}
	}
}

#modal_create_shop_top,#modal_update_shop_top,#modal_add_prod_top,#modal_update_prod_top{
	display: flex;
  justify-content: space-between;
  padding: 10px 20px 5px 20px;
  border-bottom: 1px solid #ccc;
	box-shadow: 2px 4px 10px rgba(0,0,0,.2);
	&>i
	{
		font-size: 15px;
    padding-top: 7px;
    cursor: pointer;
	}
}

#modal_update_prod_top
{
	&>div
	{
		cursor: pointer;
		color: $black;
		opacity: 0.8;
		color: #font;
		font-size: 15px;
		&>i
		{
			font-size: 15px;
			color: #F63535;
		}
		&:hover
		{
			color: #F63535;
		}
	}
}

#modal_create_shop_overflow,#modal_update_shop_overflow,#modal_add_prod_overflow,#modal_update_prod_overflow,#modal_add_wall_overflow,#modal_update_wall_overflow{
	display: none;
	position: absolute;
  @include block_size(70vw,72vh);
	z-index: 6;
	background: #000;
	opacity: 0.5;
	&.spinner
	{
		margin-left: 30vw;
    margin-top: 25vh;
    z-index: 3;
  	animation: rotator 1.4s linear infinite;
	}
	&.load_message
	{
		font-family: $font;
    margin-left: 12vw;
    font-size: 18px;
    margin-top: 6vh;
    z-index: 6;
    color: #fff;
	}
	&.path
	{
		stroke-dasharray: 187;
	  stroke-dashoffset: 0;
	  transform-origin: center;
	  animation:
	    dash 1.4s ease-in-out infinite, 
	    colors 5.2s ease-in-out infinite;
	}
}

#create_dialog_modal
{
	display: none;
	width: 26vw;
	background: #fff;
	position: absolute;
	z-index: 10;
	box-shadow: 2px 4px 10px rgba(0,0,0,.2);
	margin-left: 30vw;
	margin-top: 20vh;
}

#create_dialog_header
{
	border-bottom: 1px solid #ccc;
	padding: 1vw;
	display: flex;
	&>p
	{
		font-family: $cursived, cursive;
		font-size: 12px;
		letter-spacing: 1px;
		color: $black;
	}
	&>i
	{
		cursor: pointer;
		margin-left: 15vw;
		font-size: 15px;
		color: $black;
		opacity: 0.8;
	}
}

#create_dialog_content
{
	height: 40vh;
	overflow-y: scroll;
	&>ul
	{
		&>li
		{
			cursor: pointer;
			display: flex;
			padding: 1vw;
			border-bottom: 1px solid darkgray;
			&:hover
			{
				background: #ccc;
			}
			&>img
			{
				@include block_size(3vw,3vw);
				@include border(50%);
			}
			&>p
			{
				margin-top: 1vh;
				margin-left: 1vw;
				font-family: $cursived, cursive;
				font-size: 14px;
				letter-spacing: 2px;
				color: $black;
			}
		}
	}
}

#modal_cartung
{
	position: absolute;
	display: none;
	background: linear-gradient(to right,#2D183B,#3C3441);
	z-index: 8;
	@include block_size(0vw, 0vh);
	@include block_pos(0vw, 0vh);
	@include material_shadow(0.3);
	@include border(4px);
	& #modal_cartung_top
	{
		padding: 1vw;
		border-bottom: 1px solid darkgray;
		& label
		{
			font-size: 15px;
			color: #fff;
			font-family: $cursived, cursive;
			letter-spacing: 2px;
			opacity: 0.8;
			letter-spacing: 3px;
			& b
			{
				font-weight: 600;
			}
		}
		& i
		{
			cursor: pointer;
			float: right;
			color: #fff;
			opacity: 0.8;
			&:hover
			{
				opacity: 1;
			}
		}
	}

	& #modal_cartung_content
	{
		& #modal_cartung_overflow
		{
			display: none;
		}
		& > div:nth-child(2)
		{
			& > label:nth-child(1)
			{
				margin: 1vw;
				font-size: 12px;
				color: #fff;
				font-family: $font;
				letter-spacing: 1px;
				opacity: 0.6;
				letter-spacing: 3px;
				& b
				{
					font-weight: 600;
				}
			}
			& > label:nth-child(2)
			{
				cursor: pointer;
				font-size: 15px;
				font-family: $font;
				color: #fff;
				opacity: 0.8;
				margin-left: 27vw;
				& > i
				{
					margin-right: 0.3vw;
					color: #F63535;
				}
				&:hover
				{
					color: #F63535;
				}
			}
		}
	}
}

.modal_cartung_product
{
	border-bottom: 1px solid #424242;
	display: flex;
	& div:nth-child(1)
	{
		margin-top: 1vh;
		margin-left: 1vw;
		& > a
		{
			& > img
			{
				@include block_size(5vw, 5vw);
				@include border(4px)
			}
		}
	}
	& div:nth-child(2)
	{
		width: 43vw;
		margin-left: 1vw;
		& > a:nth-child(1)
		{
			cursor: pointer;
			text-decoration: none;
			font-family: $cursived,cursive;
			font-size: 15px;
			color: #fff;
			letter-spacing: 2px;
			transform: rotate(-3deg);
			&:hover
			{
				text-decoration: underline;
			}
		}
		& > p:nth-child(2)
		{
			margin-top: 3vh;
			font-family: $cursived,cursive;
			font-size: 15px;
			color: #fff;
			letter-spacing: 2px;
			text-shadow: 1px 1px 1px #000, 1px 1px 1px #fff;
		}
	}
	& div:nth-child(3)
	{
		margin-top: 3vh;
		& > i:nth-child(1)
		{
			font-size: 15px;
			cursor: pointer;
			color: #F63838;
			opacity: 0.8;
			margin-right: 0.5vw;
			&:hover
			{
				color: #F46767;
			}
		}
		& > i:nth-child(2)
		{
			font-size: 15px;
			cursor: pointer;
			color: #31C831;
			opacity: 0.8;
			margin-right: 0.5vw;
			&:hover
			{
				color: #39D839;
			}
		}
		& > label:nth-child(3)
		{
			letter-spacing: 1px;
			font-family: $cursived, cursive;
			font-size: 15px;
			color: #fff;
			text-shadow: 1px 1px 1px #fff, 1px 1px 1px #000;
		}
		& > label:nth-child(4)
		{
			margin-top: 1vh;
			display: block;
			text-align: right;
			letter-spacing: 1px;
			font-family: $font;
			font-size: 12px;
			color: #fff;
			opacity: 0.8;
		}
	}
}

#create_order
{
	cursor: pointer;
	@include block_pos(63vh,51vw);
	position: absolute;
	font-family: $cursived, cursive;
	letter-spacing: 1px;
	font-size: 15px;
	color: #fff;
	&:hover
	{
		text-decoration: underline;
	}
}

#modal_order
{
	position: absolute;
	display: none;
	background: linear-gradient(to left,#2D183B,#3C3441);
	z-index: 8;
	@include block_size(0vw, 70vh);
	@include block_pos(10vh, 80vw);
	@include material_shadow(0.3);
	@include border(4px);
	& #modal_order_top
	{
		padding: 1vw;
		border-bottom: 1px solid darkgray;
		& label
		{
			font-size: 15px;
			color: #fff;
			font-family: $cursived, cursive;
			letter-spacing: 2px;
			opacity: 0.8;
			letter-spacing: 3px;
			& b
			{
				font-weight: 600;
			}
		}
		& i
		{
			cursor: pointer;
			float: right;
			color: #fff;
			opacity: 0.8;
			&:hover
			{
				opacity: 1;
			}
		}
	}

	& #modal_order_content
	{
		&>div:nth-child(1)
		{
			&>div:nth-child(1)
			{
				float: left;
				width: 29vw;
				border-right: 1px solid darkgray;
				height: 50vh;
				&>label
				{
					display: block;
					width: 100%;
					font-size: 15px;
					font-family: $font;
					color: #fff;
					opacity: 0.8;
					letter-spacing: 1px;
					margin-left: 0.5vw;
					margin-top: 1vh;
				}
				&>input:nth-child(2)
				{
					outline: none;
					margin-left: 0.5vw;
					margin-top: 3vh;
					width: 80%;
					border: none;
					background: transparent;
					border-bottom: 1px solid silver;
					color: #fff;
					opacity: 0.9;
					font-size: 15px;
					font-family: $font;
					letter-spacing: 1px;
					@include border(3px);
					padding: 0.3vw;
				}
				&>input:nth-child(3)
				{
					outline: none;
					margin-left: 0.5vw;
					margin-top: 3vh;
					width: 80%;
					border: none;
					background: transparent;
					border-bottom: 1px solid silver;
					color: #fff;
					opacity: 0.9;
					font-size: 15px;
					font-family: $font;
					letter-spacing: 1px;
					@include border(3px);
					padding: 0.3vw;
				}
			}
			&>div:nth-child(2)
			{
				float: left;
				width: 29vw;
				&>label
				{
					display: block;
					width: 100%;
					font-size: 15px;
					font-family: $font;
					color: #fff;
					opacity: 0.8;
					letter-spacing: 1px;
					margin-left: 0.5vw;
					margin-top: 1vh;
				}
				&>i
				{
					cursor: pointer;
					margin-left: 1vw;
					color: #fff;
					opacity: 0.9;
					font-size: 5vw;
					&:hover
					{
						opacity: 1;
					}
				}
			}
			&>label:nth-child(3)
			{
				cursor: pointer;
				position: absolute;
				@include block_pos(63vh,1vw);
				font-size: 15px;
				font-family: $font;
				color: #fff;
				letter-spacing: 1px;
				opacity: 0.8;
				&:hover
				{
					opacity: 1;
				}
			}
			&>label:nth-child(4)
			{
				cursor: pointer;
				position: absolute;
				@include block_pos(63vh,53vw);
				font-size: 20px;
				opacity: 0.8;
				letter-spacing: 1px;
				color: #59DB37;
				&:hover
				{
					opacity: 1;
				}
			}
		}
	}
}


@keyframes rotator {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(270deg); }
}

@keyframes colors {
	0% { stroke: #4285F4; }
	25% { stroke: #DE3E35; }
	50% { stroke: #F7C223; }
	75% { stroke: #1B9A59; }
  100% { stroke: #4285F4; }
}

@keyframes dash {
 0% { stroke-dashoffset: 187; }
 50% {
   stroke-dashoffset: 46.75;
   transform:rotate(135deg);
 }
 100% {
   stroke-dashoffset: 187;
   transform:rotate(450deg);
 }
}