*{
	padding: 0;
	margin: 0;
}

html{
	overflow-x: hidden;
}

li{
	list-style-type: none;
}

$font: 'Raleway';
$cursived: 'Lobster';
$black: #424242;

@mixin border($radius: 0, $border_color: 0, $border_weight: 1px) {
	@if $border_color != 0 { border: $border_weight solid $border_color; } 
	@if $radius != 0
	{
		border-radius: $radius;
		-moz-border-radius: $radius;
		-webkit-border-radius: $radius;
		-o-border-radius: $radius;
	}
}

@mixin header_radius($radius: 0, $border_color: 0, $border_weight: 1px) {
	@if $border_color != 0 { border: $border_weight solid $border_color; } 
	@if $radius != 0
	{
		border-bottom-right-radius: $radius;
		-moz-border-bottom-right-radius: $radius;
		-webkit-border-bottom-right-radius: $radius;
		-o-border-bottom-right-radius: $radius;
	}
}

@mixin block_size($width, $height)
{
	width: $width;
	height: $height;
}

@mixin block_pos($top, $left)
{
	top: $top;
	left: $left;
}

@mixin material_shadow($opacity, $color1: 255, $color2: 255, $color3: 255)
{
	box-shadow: 2px 4px 10px rgba($color1, $color2, $color3, $opacity);
}

#overlay
{
  display: none;
  z-index: 6;
  width: 100vw;
  height: 100vh;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: #000;
  opacity: 0.3;
}

/*----Template settings------*/
#main_menu_dropdown
{
	display: none;
}

#shop_stat_icon
{
	cursor: pointer;
	position: absolute;
	color: #fff;
	top: 11vh;
	left: 50vw;
	font-size: 2vw;
	margin-top: 55vh;
}

#shop_stat_cont
{
	display: none;
	@include material_shadow(0.1);
	background: transparent;
	position: absolute;
	left: 15vw;
	width: 70vw;
	height: 48vh;
	margin-top: 17vh;
}

#shop_stat_overlay
{
	display: none;
	background: #000;
	position: absolute;
	left: 15vw;
	@include block-size(70vw,48vh);
	margin-top: 17vh;
	opacity: 0.3;
}

#shop_stat_mirror
{
	display: none;
	position: absolute;
	background-image: linear-gradient(to right, rgba(0,0,0,0.4) , rgba(66,66,66,0.5));
	left: 15vw;
	@include block-size(70vw,48vh);
	margin-top: 17vh;
	opacity: 0.8;
}

#header
{
	@include block_size(100%,70vh);
	display: flex;
	justify-content: space-between;
	@include material_shadow(0.2,0,0,0);
	position: absolute;
	@include block_pos(0,0);
	z-index: 3;
	@include header_radius(100px);
}

#cart
{
	margin-left: 1vw;
	position: absolute;
	cursor: pointer;
	width: 8vw;
	&>i
	{
		margin: 1vw;
		margin-left: 0;
		margin-top: 3vh;
		font-size: 20px;
		color: #fff;
		opacity: 0.8;
	}
	&>div:nth-child(2)
	{
		position: absolute;
		@include block_pos(1vh,1vw);
		@include block_size(0.6vw,0.6vw);
		background: #A146EE;
		font-size: 12px;
		font-family: $cursived, cursive;
		padding: 0.5vw;
		@include border(50%);
		text-align: center;
		display: flex;
		align-items: center;
		color: #fff;
		box-shadow: 1px 1px 1px rgba(255,255,255,0.3);
	}
	&>div:nth-child(3)
	{
		letter-spacing: 1px;
		width: 15vw;
		position: absolute;
		color: #fff;
		opacity: 0.8;
		font-family: $cursived, cursive;
		font-size: 15px;
		@include block_pos(3vh,3vw);
		text-shadow: 1px 1px 1px #000, 1px 1px 1px #fff;
	}

	&:hover
	{
		border-bottom: 1px solid #EEEEEE;
	}
}

#menu_icon
{
	cursor: pointer;
  margin-top: 62vh;
  margin-left: 55vw;
  position: absolute;
  z-index: 5;
  padding: 10px;

	&>div
	{
		position: absolute;
		margin-top: -3vh;
		width: 35vw;
		display: none;
		&>a
		{
			color: #000;
			font-family: $font;
			font-size: 15px;
			text-decoration: none;
			padding-right: 1vw;
			letter-spacing: 2px;
			&:hover
			{
				text-decoration: underline;
			}
		}
	}
	&>i
	{
		color: #000;
		/* border: 1px solid #fff; */
		font-size: 20px;
		&:hover
		{
			box-shadow: none;
		}
	}
}

.inspiration {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-style: oblique;
}

.item-menu {
    padding-top: 20px;
    box-sizing: border-box;
    font-size: 15px;
    text-align: center;
    filter: url("#shadowed-goo");

    .real-menu {
    		display: none;
        transform: translate3d(0, -65px, 0);
        transition: transform ease-out 200ms;
    }

    .menu-item {
        background: #585858;
        border-radius: 100%;
        width: 80px;
        height: 80px;
        color: white;
        text-align: center;
        line-height: 80px;
        transition: transform ease-out 200ms;
        display: inline-block;
        position: relative;
    }

    .menu-open-button {
        background: #585858;
        border-radius: 100%;
        width: 80px;
        height: 80px;
        color: white;
        text-align: center;
        line-height: 80px;
        transition: transform ease-out 200ms;
        display: inline-block;
        position: relative;
        width: 40px;
        height: 40px;
    }

    .menu-open {
        display: none;
    }

    .plus {
        width: 18px;
        height: 2px;
        background: white;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -9px;
        margin-top: -1px;
        transition: transform 200ms;

        &.plus-1 {
            transform: rotate(90deg) translate3d(0, 0, 0);
        }

        &.plus-2 {
            transform: rotate(0) translate3d(0, 0, 0);
        }
    }

    .menu-item {
        &:hover {
            background: white;
            color: #12CC66;
        }

        &:nth-child(1) {
            transition-duration: 70ms;
            transform: translate3d(171px, 0, 0) scale(0.5);
        }

        &:nth-child(2) {
            transition-duration: 130ms;
            transform: translate3d(85.5px, 0, 0) scale(0.5);
        }

        &:nth-child(3) {
            transition-duration: 190ms;
            transform: translate3d(0, 0, 0) scale(0.5);
        }

        &:nth-child(4) {
            transition-duration: 130ms;
            transform: translate3d(-85.5px, 0, 0) scale(0.5);
        }

        &:nth-child(5) {
            transition-duration: 70ms;
            transform: translate3d(-171px, 0, 0) scale(0.5);
        }

        & label {
        		font-family: $cursived, cursive;
            content: attr(data-name);
            position: absolute;
            font-size: 15px;
            font-weight: 500;
            color: #fff;
            line-height: 40px;
            left: 50%;
            white-space: nowrap;
            transform: translate3d(-50%, 0, 0);
            text-shadow: 1px 1px 1px #000, 1px 1px 1px #fff;
        }
    }

    .menu-open-button {
        z-index: 2;
        transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
        transition-duration: 400ms;
        transform: scale(1.1, 1.1) translate3d(0, 0, 0);
        cursor: pointer;

        &:hover {
            transform: scale(1.2, 1.2) translate3d(0, 0, 0);
        }
    }

    .menu-open:checked {
        + .menu-open-button {
            transition-timing-function: linear;
            transition-duration: 200ms;
            transform: scale(1, 1) rotate(-45deg) translate3d(0, 0, 0);
        }

        ~ .real-menu {
            transform: translate3d(0, 5px, 0);
            .menu-item {
                transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
                transform: translate3d(0, 0, 0);
                &:nth-child(1) {
                    transition-duration: 320ms;
                }

                &:nth-child(2) {
                    transition-duration: 240ms;
                }

                &:nth-child(3) {
                    transition-duration: 160ms;
                }

                &:nth-child(4) {
                    transition-duration: 240ms;
                }

                &:nth-child(5) {
                    transition-duration: 320ms;
                }

                &:after {
                    display: block;
                }
            }
        }
    }
}

#menu_settings
{
	cursor:pointer;
	margin: 66.8vh 0 0 75vw;
	position: absolute;
	color: #fff;
	z-index: 4;
	&>i
	{
		padding: 10px;
		background: $black;
		border-radius: 50%;
		/* border: 1px solid #fff; */
		font-size: 20px;
		@include material_shadow(0.4,0,0,0);
		&:hover
		{
			box-shadow: none;
		}
	}
}

#menu_logout
{
	cursor:pointer;
	margin: 66.8vh 0 0 80vw;
	position: absolute;
	color: #fff;
	z-index: 4;
	&>i
	{
		padding: 10px;
		background: $black;
		border-radius: 50%;
		/* border: 1px solid #fff; */
		font-size: 20px;
		@include material_shadow(0.4,0,0,0);
		&:hover
		{
			box-shadow: none;
		}
	}
}

#content
{
	position: absolute;
	margin-top: 75vh;
	width: 80vw;
	margin-left: 10vw;
}

#header_image
{
	background: url(../img/headers.jpg);
	background-size: cover;
	@include block_size(100%,70vh);
	position: absolute;
	@include block_pos(0,0);
	z-index: 1;
	@include header_radius(100px);
}

#header_owerflow
{
	background-color: #000;
	@include block_size(100%,70vh);
	@include block_pos(0,0);
	position: absolute;
	opacity: 0.6;
	z-index: 2;
	@include header_radius(100px);
}

#search
{
	margin: 3vh 0 0 35vw;
	&>i
	{
		position: absolute;
		font-size: 15px;
		color: #fff;
		padding: 8px;
		margin-left: 24vw;
	}
	&>input
	{
		position: absolute;
		padding: 8px;
		font-size: 15px;
		color: #fff;
		border: none;
		width: 23vw;
		background: transparent;
		outline: none;
	}
	&>div
	{
		@include block_size(28%,5vh);
		position: absolute;
		background: #fff;
		opacity: 0.1;
		border-radius: 3px;
	}
}

#main_menu
{
	display: none;
}

#main_menu_links
{
	display: flex;
	align-items: center;
	width: 100%;
	margin-right: 100px;
	&>a
	{
		color: $black;
		font-size: 14px;
		text-decoration: none;
		letter-spacing: 1px;
		padding: 0 20px 0 20px;
		&:hover
		{
			opacity: 0.8;
			text-decoration: underline;
		}
	}
}

#my_page_user_info
{
	display: flex;
}

#my_info
{
	margin-right: 10vw;
	display: flex;
	padding: 14px 50px 14px 10px;
	justify-content: space-between;

	&>div
	{
		width: 40%;
		display: flex;
		&>img
		{
			@include block_size(50px, 50px);
			display: block;
			@include border(50px);
			margin: 0 20px 0 15px;
		}
		&>div
		{
			text-align: right;
			@mixin my_info_p($font-size: 16px, $margin-top: 8px)
			{
				letter-spacing: 1px;
				font-family: $font;
				font-size: $font-size;
				color: #fff;
				margin-top: $margin-top;
				opacity: 0.8;
			}
			&>p:nth-child(1)
			{
				@include my_info_p();
			}
			&>p:nth-child(2)
			{
				@include my_info_p(10px,4px);
			}
		}
	}
}

#my_page_info
{
	display: flex;
	margin: 50px 50px 14px 10px;
	&>img
	{
		@include block_size(40px,40px);
		@include border(50px);
		display: block;
		margin: 0 25px 0 25px;
	}
	&>div
	{
		&>p:nth-child(1)
		{
			font-size: 16px;
			color: #000;
			opacity: 0.6;
		}
		&>p:nth-child(2)
		{
			text-align: left;
			font-size: 12px;
			color: #000;
			opacity: 0.6;
			margin-top: 4px;
		}
	}
}

#my_page_call,#my_page_message
{
	cursor: pointer;
	font-size: 16px;
	color: #747474;
	padding: 50px 50px 14px 10px;
	text-align: center;
	&:hover
	{
		color: $black;
	}
}

#my_page_user
{
	position: absolute;
	z-index: 2;
	margin-top: -37vh;
	margin-left: 8vw;
	display: flex;
	flex-direction: column;
}

#my_page_user_top
{
	display: flex;
	padding-bottom: 6vh;
	border-bottom: 1px solid #ccc;
	&>div:nth-child(1)
	{
		@include block_size(80px,80px);
		&>img
		{
			@include block_size(100%,100%);
			border-radius: 70px;
			border: 2px solid #fff;
		}
	}
	&>div:nth-child(2)
	{
		margin-left: 3vw;
		&>div
		{
			margin-top: 1vh;
		}
		&>div:nth-child(1)
		{
			font-family: $font;
			color: #fff;
			font-size: 18px;
			letter-spacing: 1px;
		}
		&>div:nth-child(2)
		{
			opacity: 0.7;
			color: #fff;
			font-family: $font;
			font-size: 15px;
			letter-spacing: 1px;
			&>i
			{
				margin-right: 1vw;
				color: #fff;
				font-size: 15px;
			}
		}
		&>div:nth-child(3)
		{
			margin-top: 2vh;
			&>i
			{
				color: #fff;
				font-size: 18px;
				margin-right: 1vw;
			}
		}
	}
}

#my_page_user_bottom
{
	display: flex;
	flex-direction: column;
	padding-top: 4vh;
}

#my_page_user_bottom_nums
{
	&>ul
	{
		color: #fff;
		display: flex;
		&>li
		{
			text-align: center;
			width: 9vw;
			font-size: 17px;
			font-family: $font;
			letter-spacing: 2px;
		}
	}
}

#my_page_user_bottom_menu
{
	&>ul
	{
		color: #fff;
		display: flex;
		&>li
		{
			text-align: center;
			width: 9vw;
			font-size: 10px;
			font-family: $font;
			opacity: 0.7;
			letter-spacing: 2px;
		}
	}
}

#my_page_transition
{
	margin-top: -19vh;
  height: 25vh;
  margin-left: -10vw;
  width: 100vw;
	background: linear-gradient(270deg, #D1D5F8, #ffffff);
	background-size: 400% 400%;

	-webkit-animation: AnimationName 59s ease infinite;
	-moz-animation: AnimationName 59s ease infinite;
	-o-animation: AnimationName 59s ease infinite;
	animation: AnimationName 59s ease infinite;
}

#my_page
{
	box-shadow: -9px -6px 30px rgba(0, 0, 0, 0.1);
  margin-top: -5vh;
	position: absolute;
	margin-left: -10vw;
	width: 98.2vw;
}

#my_page_menu
{
	overflow-y: scroll;
	overflow-x: hidden;
	background: #F2F5F8;
	min-height: 80vh;
	max-height: 80vh;
	float: left;
	width: 26vw;
	&>ul
	{
		&>li
		{
			display: flex;
	    border-bottom: 1px solid darkgray;
	    padding: 1vw;
	    cursor: pointer;
	    margin-top: 1vh;
			&:hover
			{
				background: #f1eded;
			}
			&>div:nth-child(1)>img
			{
				@include block_size(3vw,3vw);
				@include border(50%);
			}
			&>div:nth-child(2)
			{
				margin-left: 1vw;
				width: 100%;
				&>p:nth-child(1)
				{
					color: #212121;
					font-family: $font;
					font-size: 13px;
				}
				&>p:nth-child(2)
				{
					color: #212121;
					margin-top: 1vh;
					font-family: $font;
					font-size: 10px;
					opacity: 0.8;
				}
			}
			&>div:nth-child(3)
			{
				width: 60%;
					text-align: right;
				&>i
				{
					color: #000;
					opacity: 0.6;
				}
				&>p
				{
					color: gray;
					font-family: $font;
					letter-spacing: 1px;
					text-align: right;
					margin: 1vh 0 0 1vw;
					font-size: 9px;
				}
			}
		}
	}
}

#my_page_wall_count
{
	font-family: $font;
	font-size: 12px;
	margin-left: 1vw;
	color: gray;
	&>span
	{
		color: #000;
	}
}

#my_page_menu_search
{
	margin: 3vh 0 3vh 0;
	&>i
	{
		margin: 1.5vh 0 0 1vw;
		position: absolute;
		opacity: 0.5;
	}
	&>input
	{
		padding: 8px;
		text-align: center;
		border: none;
		@include border(2px);
		background: #ECEFF5;
		font-family: $font;
		font-size: 12px;
		width: 75%;
		outline: none;
	}
	&>button
	{
		font-size: 13px;
		padding: 8px;
		border: none;
		background: #ECEFF5;
		opacity: 0.8;
		font-family: $font;
		cursor: pointer;
	}
}

#my_page_content
{
	z-index: 2;
	background: #FBF9F9;
	box-shadow: -9px 2px 30px rgba(0,0,0,.1);
	float: left;
	width: 72.2vw;
}

#my_page_content_main_overlay
{
	@include block_size(74vw,80vh);
	position: absolute;
	background: #000;
	opacity: 0.5;
	z-index: 2;
}

#my_page_content_main
{
	@include block_size(74vw,80vh);
	position: absolute;
	background: transparent;
	&>img
	{
		@include block_size(100%,100%);
		object-fit: cover; /* Do not scale the image */
		object-position: center;
	}
}

#my_page_content_main_cont
{
	position: absolute;
	z-index: 2;
	&>p:nth-child(1)
	{
		font-size: 30px;
    color: #fff;
    font-family: 'Lobster',cursive;
    margin: 2vw;
    z-index: 2;
    letter-spacing: 3px;
	}
	&>p:nth-child(2)
	{
		margin: 2vw;
    width: 50vw;
    font-family: $font;
    font-size: 15px;
    letter-spacing: 1px;
    color: #fff;
    opacity: 0.8;
	}
}

#my_page_content_us_info
{
	margin: -4vh 0 0 64vw;
	z-index: 3;
	position: absolute;
	&>img
	{
		border-radius: 50%;
		@include block_size(5vw,5vw);
		border: 1px solid #fff;
	}
	&>p
	{
		color: #fff;
		font-family: $font;
		letter-spacing: 2px;
		font-size: 12px;
		text-align: center;
	}
}

#my_page_content_main_cont_cards
{
	display: flex;
	flex-direction: row;
	margin-left: 2vw;
	@include block_size(16vw,50vh);

	&>.my_page_wall_cards
	{
		@include block_size(16vw,50vh);
 	 	@include material_shadow(0.4);
 	 	margin-right: 2vw;
		&>div:nth-child(1)
	  {
	  	@include block_size(5vw,5vw);
	  	position: absolute;
	  	margin-top: -5vh;
	  	margin-left: -5vh;
	  	&>img
	  	{
	  		@include block_size(100%,100%);
	  	}
	  }

	  &>div:nth-child(2)
	  {
	  	width: 16vw;
	  	height: 30vh;
	  	&>img
	  	{
	  		@include block_size(100%, 100%);
	  	}
	  }

	  &>div:nth-child(3)
	  {
	  	&>p
	  	{
	  		letter-spacing: 3px;
	  		text-align: center;
	  		font-family: $cursived, cursive;
	  		font-size: 20px;
	  		color: #fff;
	  		transform: rotate(-10deg);
	  		text-shadow: 1px 1px 1px #fff, 1px 1px 1px gold;
	  		margin-top: 1vh;
	  	}
	  }

	  &>div:nth-child(4)
	  {
	  	letter-spacing: 3px;
  		font-family: $cursived, cursive;
  		font-size: 16px;
  		color: #fff;
  		transform: rotate(-7deg);
  		text-shadow: 1px 1px 1px gold, 1px 1px 1px #fff;
  		margin-top: 5vh;
  		margin-left: 1vw;
  		opacity: 0.9;
	  }

	  &>div:nth-child(5)
	  {
	  	text-align: right;
	  	&>a{
	  		font-family: $cursived, cursive;
	  		letter-spacing: 3px;
	  		float: right;
	  		display: block;
	  		width: 6vw;
	  		margin-right: 1vw;
	  		margin-top: 0.5vh;
	  		padding: 0.4vw;
	  		background: #322DD8;
				color: #fff;
				text-align: center;
				text-decoration: none;
				@include border(50px);
				transform: rotate(5deg);
				box-shadow: 1px 1px 1px gold;
	  	}
	  }

	  &>div:nth-child(6)
	  {
	  	margin-top: -43vh;
	  	position: absolute;
	  	background: #fff;
	  	opacity: 0;
			@include block_size(16vw,50vh);

			-webkit-animation: fadeInFromNone 5s infinite ease-in-out;
    	-moz-animation: fadeInFromNone 5s infinite ease-in-out;
    	-o-animation: fadeInFromNone 5s infinite ease-in-out;
    	animation: fadeInFromNone 5s infinite ease-in-out;
	  }
	}
  
}

/*----Friends page settings------*/
#friends_cont_menu
{
	&>ul
	{
		display: flex;
		margin: 50px auto 50px;
		justify-content: center;
		border-bottom: 1px solid #747474;
		width: 50%;
		&>svg
		{
			position: absolute;
			margin: 46px 0 0 -70px;
		}
		&>li
		{
			cursor: pointer;
			padding: 15px 20px 15px 20px;
			font-size: 16px;
			font-family: $font;
			background-position: center;
			transition: background 0.8s;
			&:hover
			{
				background: radial-gradient(circle, transparent 1%, #fff 1%) center/5000%;
			}
			&:active
			{
				background-color: #EEEEEE;
				background-size: 100%;
				transition: background 0s;
			}
			&>span
			{
				color: #747474;
			}
		}
	}
}

#search_friends_input_form
{
	width: 27vw;
	margin-left: 18vw;
	&>input
	{
		width: 100%;
		position: absolute;
		padding: 5px;
		font-family: $font;
		color: $black;
		border: none;
		z-index: 2;
		outline: none;
		background: transparent;
		border-bottom: 1px solid #ccc;
	}
	i
	{
		position: absolute;
		color: $font;
		font-size: 14px;
		z-index: 3;
		margin-left: 43vw;
		cursor: pointer;
	}
	label
	{
		font-family: $font;
		font-size: 14px;
		color: gray;
		letter-spacing: 1px;
		margin: 0vh 0 0 1vw;
		position: absolute;
	}
}

#search_friends_input_form_line
{
	height: 2px;
	width: 0;
	margin: 3.9vh 0 0 23vw;
	position: absolute;
	background: #40c4ff;
	z-index: 3;
	position: absolute;
}

#search_friends_stat
{
	margin-top: 10vh;
	position: absolute;
	width: 80vw;
}

#friends_stat,#followers_stat,#black_list_stat
{
	margin-top: -4vh;
	position: absolute;
	width: 80vw;
}

#search_friends_stat,
#friends_stat,
#followers_stat,
#black_list_stat
{
	margin-left: 2vw;
	&>label:nth-child(1)
	{
		font-family: $cursived,cursive;
		letter-spacing: 1px;
		font-size: 12px;
		padding: 10px;
		opacity: 0.8;
	}
	&>label:nth-child(2)
	{
		font-family: $cursived,cursive;
		font-weight: 600;
		font-size: 12px;
	}
}

.friends_search_spinner
{
	margin-left: 30vw;
	margin-top: 25vh;
	z-index: 3;
	animation: rotator 1.4s linear infinite;
}

#search_friends_result
{
	position: absolute;
	margin-top: 18vh;
	margin-bottom: 10vh;
}

#search_friends_view
{
	display: none;
	position: absolute;
	opacity: 0;
	margin-top: 15vh;
}

#friends_view
{
	position: absolute;
	margin-bottom: -3vh;
}

#followers_view
{
	display: none;
	position: absolute;
	opacity: 0;
	margin-top: 15vh;
}

#black_list_view
{
	display: none;
	position: absolute;
	opacity: 0;
	margin-top: 15vh;
}

#search_friends_result,
#friends_view,
#followers_view,
#black_list_view
{
	&>ul
	{
		display: flex;
		margin-top: 1vh;
		&>li
		{
			width: 12vw;
			margin: 2vw;
			@include material_shadow(.2,0,0,0);
			@include border(4px);
			&>div:nth-child(1)
			{
				border-bottom: 2px solid #ccc;
				margin-top: -5vh;
				&>i:nth-child(1)
				{
					cursor: pointer;
					position: absolute;
					color: #5255F4;
					font-size: 15px;
					margin-top: 7vh;
					margin-left: 1vw;
				}
				&>a:nth-child(2)
				{
					cursor: pointer;
			    text-align: center;
			    margin-left: 4vw;
					&>img
					{
						@include block_size(5vw,5vw);
						@include border(50%);
					}
				}
				&>i:nth-child(3)
				{
					cursor: pointer;
					position: absolute;
					color: #F63434;
					font-size: 15px;
					margin-top: 7vh;
					margin-left: 1vw;
				}
				&>a:nth-child(4)
				{
					cursor: pointer;
					text-decoration: none;
					font-family: $cursived,cursive;
					color: $black;
					text-align: center;
					width: 100%;
					display: block;
					margin-top: 1vh;
					font-size: 15px;
					letter-spacing: 2px;
					transform: rotate(-5deg);
					&:hover
					{
						text-decoration: underline;
					}
				}
				&>div
				{
					margin-top: 2vh;
					margin-left: 1vw;
					margin-bottom: 1vh;
					&>div
					{
						margin-top: 1vh;
						&>i
						{
							color: #424242;
							font-size: 15px;
						}
						&>label
						{
							color: #424242;
							font-family: $font;
							font-size: 15px;
							margin-left: 1vw;
						}
					}
				}
			}
			&>div:nth-child(2)
			{
				display: flex;
				justify-content: space-around;
				i
				{
					cursor: pointer;
					font-size: 20px;
					color: gray;
					margin: 2vh;
					&:hover
					{
						font-size: 20px;
						color: #40c4ff;
						margin-top: 2vh;
					}
				}
			}
		}
	}
}

/*----Dialogs page style-----*/

#dialogs_conteiner
{
	margin-left: -10vw;
	width: 100vw;
	margin-top: -5vh;
	min-height: 85vh;
}

#dialogs_view
{
	@include block_size(20vw,75vh);
	float: left;
	background: #F2F5F8;
	padding-bottom: 10vh;
}

#dialogs_view_search
{
	margin-bottom: 1vh;
	margin-top: 4vh;
	&>i
	{
		position: absolute;
		margin-left: 4vw;
		margin-top: 1.5vh;
		opacity: 0.5;
		font-size: 10px;
	}
	&>input
	{
		padding: 8px;
		text-align: center;
		border: none;
		@include border(2px);
		background: #ECEFF5;
		font-family: $font;
		font-size: 10px;
		width: 75%;
		outline: none;
	}
	&>button
	{
		font-size: 11px;
		padding: 8px;
		border: none;
		background: #ECEFF5;
		opacity: 0.8;
		font-family: $font;
		cursor: pointer;
	}
}

#dialogs_view
{
	&>ul
	{
		cursor: pointer;
		display: flex;
		padding-top: 2vh;
		padding-left: 1vw;
		&:hover
		{
			background: #ECEFF5;
		}
		&>li
		{
			display: flex;
			flex-direction: column;
			border-bottom: 1px solid darkgray;
			&>a
			{
				&>img
				{
					@include block_size(30px,30px);
					@include border(100px);
				}
			}
		}
		&>li:nth-child(1)
		{
			&>a
			{
				@include block_size(40px,40px);
				@include border(100px);
			}
		}
		&>li:nth-child(2)
		{
			width: 13vw;
			&>a:nth-child(1)
			{
				font-family: $cursived, cursive;
				color: $black;
				font-size: 12px;
				text-decoration: none;
			}
			&>a:nth-child(2)
			{
				font-family: $font;
				color: $black;
				opacity: 0.8;
				font-size: 10px;
				text-decoration: none;
			}
		}
		&>li:nth-child(3)
		{
			text-align: right;
			&>i
			{
				font-size: 12px;
				color: $black;
			}
			&>div
			{
				margin-top: 2vh;
				font-size: 8px;
				color: #ccc;
				font-family: $font;
			}
		}
	}
}

#dialog_list_name > a:nth-child(1)
{
	&>a:nth-child(1)
	{
		font-family: $font;
		font-size: 14px;
		color: #000;
		opacity: 0.7;
		letter-spacing: 1px;
	}
	&>a:nth-child(2)
	{
		font-family: $font;
		font-size: 12px;
		color: $black;
		opacity: 0.8;
		margin-top: 1vh;
		letter-spacing: 1px;
	}
}

#messages_view
{
	width: 80vw;
	background: #FBF9F9;
	z-index: 2;
	box-shadow: -9px 2px 30px rgba(0,0,0,.1);
	overflow-y: scroll;
	overflow-x: hidden;
	&>div:nth-child(1)
	{
		position: fixed;
		display: flex;
		padding: 1vw;
		opacity: 0;
		width: 100%;
		height: 0vh;
		z-index: 3;
		background: #FBF9F9;
		&>div:nth-child(1)
		{
			width: 50%;
			&>p:nth-child(1)
			{
				letter-spacing: 1px;
				font-family: $cursived, cursive;
				font-size: 15px;
				opacity: 0.7;
				letter-spacing: 1px;
			}
			&>p:nth-child(2)
			{
				font-family: $font;
				font-size: 12px;
				margin-top: 1vh;
				opacity: 0.6;	
				letter-spacing: 1px;
			}
		}
		&>div:nth-child(2)
		{
			height: 67vh;
			margin: 2vw;
			opacity: 0;
			&>i
			{
				font-size: 15px;
				color: #000;
				opacity: 0.6;
				margin-right: 3vw;
			}
			&>div
			{
				position: absolute;
				bottom: 0;
				margin-left: -2vw;
				width: 80%;
			}
		}
	}
	&>div:nth-child(2)
	{
		height: 67vh;
		margin: 2vw;
		margin-top: 10vh;
		opacity: 0;
		&>div
		{
			position: absolute;
			bottom: 0;
			margin-left: -2vw;
		}
		&>ul
		{
			margin-bottom: 19vh;
		}
	}
}

#input_message
{
	z-index: 4;
	width: 100%;
	position: fixed;
	margin-top: -2vh;
	&>div
	{
		position: absolute;
		margin-top: -5vh;
		margin-left: 67vw;
		&>i
		{
			color: gray;
			font-size: 15px;
			margin-left: 1vw;
			cursor: pointer;
		}
	}
	&>input
	{
		font-family: $font;
		font-size: 15px;
		color: $black;
		letter-spacing: 1px;
		@include block_size(100%,7vh);
		border: none;
		background: #ECEFF5;
		outline: none;
		padding: 0px 10px 0px 10px;
	}
}

#messages_view > div:nth-child(2) > ul
{
	&>div:nth-child(2)
	{
		&>ul
		{
			margin-bottom: 19vh;
		}
	}
}

.my_message{
	margin-top: 5vh;
	display: flex;
}

#messages_profile_m
{
	overflow-x: hidden;
	overflow-y: scroll;
	@include block_size(17vw,0vh);
	position: absolute;
	background: #fff;
	box-shadow: -9px 2px 30px rgba(0,0,0,.2);
	margin-left: 63vw;
	z-index: 4;
	@include border(4px);
	&>div
	{
		opacity: 0;
		&>img
		{
			@include block_size(9vw,9vw);
			@include border(50%);
			margin-left: 4vw;
		}
		&>p:nth-child(1)
		{
			cursor: pointer;
			text-align: center;
			font-size: 14px;
			color: gray;
		}
		&>p:nth-child(3)
		{
			font-family: $font;
			text-align: center;
			letter-spacing: 1px;
			margin-bottom: 1vh;
		}
		&>p:nth-child(4)
		{
			font-size: 10px;
			font-family: $font;
			text-align: center;
		}
		&>p:nth-child(5)
		{
			font-family: $font;
			letter-spacing: 1px;
			margin-bottom: 1vh;
			font-size: 14px;
			margin-top: 3vh;
			text-align: left;
			margin-left: 1vw;
		}
	}
}

.profile_m_ul_tag
{
	& > li
	{
		cursor: pointer;
	  height: 7vw;
		&>p
		{
			margin: 0.5vw;
			font-family: $cursived, cursive;
			color: #fff;
			font-size: 12px;
			letter-spacing: 1px;
			position: absolute;
			z-index: 3;
		}
		& > .profile_m_ul_overlay
		{
			position: absolute;
			opacity: 0.5;
	    height: 7vw;
	    width: 16vw;
	    z-index: 2;
	    background: #000;
		}
	}
}

.friend_message
{
	margin-top: 5vh;
	display: flex;
	&>div:nth-child(1)
	{
		width: 100%;
	}
	&>div:nth-child(2)
	{
		display: flex;
		font-size: 13px;
		font-family: $font;
		color: #fff;
		letter-spacing: 1px;
		background: #79C8F8;
		align-items: center;
		margin-right: 1vw;
		padding: 0px 10px 0px 10px;
		@include border(4px);
		min-width: 20%;
	}
	&>div:nth-child(3)
	{
		width: 6%;
		text-align: right;
		&>img
		{
			@include block_size(30px,30px);
			@include border(50%);
		}
	}
}

.my_message
{
	&>div:nth-child(1)
	{
		&>img
		{
			@include block_size(30px,30px);
			@include border(50%);
		}
	}
	&>div:nth-child(2)
	{
		display: flex;
		font-size: 13px;
		font-family: $font;
		color: #000;
		opacity: 0.6;
		letter-spacing: 1px;
		background: #ECEFF5;
		align-items: center;
		margin-left: 1vw;
		padding: 0px 10px 0px 10px;
		@include border(4px);
		min-width: 20%;
	}
	&>div:nth-child(3)
	{
		width: 100%;
	}
}

/*----Shops list style-----*/
#shops_list
{
	display: flex;
	flex-direction: column;
	&>ul
	{
		display: flex;
		flex-direction: center;
		width: 60%;
		margin: auto;
		margin-bottom: 2vh;
		padding: 1vw;
		@include material_shadow(0.1,0,0,0);
		@include border(4px);
		&>li:nth-child(1)
		{
			margin-top: 2.5vh;
			@include block_size(7vw,7vw);
			&>img
			{
				@include border(50%);
				@include block_size(100%,100%);
			}
		}
		&>li:nth-child(2)
		{
			margin-left: 1vw;
			flex: 2;
			padding-bottom: 5px;
			margin-right: 0;
			&>a
			{
				width: 60%;
				font-family: $cursived, cursive;
				font-size: 15px;
				letter-spacing: 2px;
				text-decoration: none;
				cursor: pointer;
				color: #424242;
				display: block;
				&:hover
				{
					text-decoration: underline;
				}
			}
			&>p
			{
				letter-spacing: 1px;
				margin-top: 1vh;
				font-family: $font;
				color: $black;
				font-size: 12px;
				margin-bottom: 2vh;
			}
			&>div
			{
				margin-top: 1vh;
				&>i
				{
					font-size: 15px;
					color: $black;	
					opacity: 0.8;					
				}
				&>label
				{
					font-size: 15px;
					color: $black;
					font-family: $font;
				}
			}
		}
		&>li:nth-child(3)
		{
			text-align: right;
			display: flex;
			flex-direction: column;
			&>i
			{
				font-size: 18px;
				color: #747474;
				letter-spacing: 1px;
				cursor: pointer;
			}
		}
	}
}

#active
{
	opacity:1;
		-webkit-transform-origin: right top 0px; 
		-webkit-transform: scale(1); 
}

.shops_list_dropdown {
	margin-top: 2%;
	position: absolute;
	z-index: 3;
	font-size: 14px;
	text-align: left;
	background-color: #fff;
	@include border(4px,1px,rgba(0,0,0,0.15));
	box-shadow: 0 6px 12px rgba(0,0,0,0.175);
	background-clip: padding-box;
	-webkit-transition: all 0.2s ease;
	opacity:0;
	-webkit-transform-origin: right top 0px; 
	-webkit-transform: scale(0); 
	ul
	{
		min-width: 160px;
		padding: 5px 0;
		margin: 2px 0 0;
		list-style: none;
		position:relative;
	}
	.active
	{
		opacity:1;
		-webkit-transform-origin: right top 0px; 
		-webkit-transform: scale(1); 
		li
		{
			opacity: 1; 
			transform: translateY(0px);
		}
	}
	li
	{
		color:#666;
		margin: 0;
		padding: 5px 0 5px 15px;
		height: 24px;
		list-style: none;
		opacity: 1; 
		transform: translateY(0px);
		cursor: pointer;
		-webkit-transition: all 0.3s ease;
		transform: translateY(-30%);
		&:hover
		{
			background: rgba(0,0,0,0.175);
		}
	}
}
/*----Shop page------------*/
#shop_header{
	width: 80%;
	margin-top: 20px;
	margin-left: 1%;
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	&>div
	{
		flex: 2;
		display: flex;
		&>h1
		{
			font-weight: 100;
			font-family: $cursived,cursive;
			letter-spacing: 2px;
			margin-top: 3vh;
			font-size: 15px;
			margin-left: 1vw;
			color: $black;
			opacity: 0.9;
		}
		&>img
		{
			display: block;
			width: 4vw;
			height: 4vw;
			@include border(50%);
		}
	}
	&>i
	{
		color: #F63535;
		font-size: 15px;
	}
	&>label
	{
		cursor: pointer;
		margin-left: 1vw;
		letter-spacing: 2px;
		font-family: $font;
		color: $black;
		font-size: 15px;
		&:hover
		{
			text-decoration: underline;
		}
	}
}

.group 			  { 
	position:relative; 
	width: 100%;
	input
	{
		font-size:18px;
		padding:10px 10px 10px 5px;
		display:block;
		width:100%;
		border:none;
		border-bottom:1px solid #757575;
		&:focus
		{
			outline:none;
		}
	}
	label
	{
		top:15px;
		color:$black; 
		font-size:18px;
		font-weight:normal;
		position:absolute;
		transition:0.2s ease all; 
		-moz-transition:0.2s ease all; 
		-webkit-transition:0.2s ease all;
	}
	input:focus ~ label, input:valid ~ label
	{
		top:-20px;
		font-size:14px;
		color:$black;
	}
	.bar
	{
		position:relative; display:block; width:103%;
		&:before,&:after
		{
			content:'';
			@include block_size(0,2px);
			bottom:1px; 
			position:absolute;
			background:$black; 
			transition:0.2s ease all; 
			-moz-transition:0.2s ease all; 
			-webkit-transition:0.2s ease all;
		}
		&:before
		{
			left:50%;
		}
		&:after
		{
			right:50%; 
		}
	}
	input:focus ~ .bar:before,input:focus ~ .bar:after
	{
		width:50%;
	}
	.highlight
	{
		position:absolute;
		@include block_size(100px,60%);
		@include block_pos(25%,0);
		pointer-events:none;
		opacity:0.5;
	}
	input:focus ~ .highlight
	{
		-webkit-animation:inputHighlighter 0.3s ease;
		-moz-animation:inputHighlighter 0.3s ease;
		animation:inputHighlighter 0.3s ease;
	}
}

#shops_cont{
	&>div:nth-child(1)
	{
		width: 60%;
		margin: auto;
		margin-bottom: 40px;
		display: flex;
		padding: 30px 20px 0 20px;
		&>div:nth-child(2)
		{
			width: 15vw;
			margin-left: 3vw;
			cursor: pointer;
			margin-top: 1vh;
			& > i
			{
				font-size: 2.4vw;
				color: #3EF455;
			}
			& > label
			{
				cursor: pointer;
				color: $black;
				opacity: 0.8;
				&:hover
				{
					text-decoration: underline;
				}
			}
		}
	}
	&>p
	{
		width: 80%;
		color: #747474;
		font-family: $font;
		font-size: 14px;
		margin: auto;
		margin-bottom: 5px;
		&>button
		{
			cursor: pointer;
			font-size: 16px;
			background: transparent;
			margin-left: 15px;
			border: none;
			font-family: $font;
			color: #747474;
			&:hover
			{
				text-decoration: underline;
			}
		}
	}
}

#shop_cont{
	& > div:nth-child(2)
	{
		display: flex;
		font-family: $font;
		color: $black;
		font-size: 12px;
		margin-bottom: 2vh;
		margin-left: 1vw;
		& > div
		{
			width: 10vw;
			cursor: pointer;
			margin-left: 51.3vw;
			& > i
			{
				cursor: pointer;
				font-size: 15px;
				color: #F9C63E;
			}
			& > button
			{
				cursor: pointer;
				outline: none;
				margin-left: 1vw;
				border: none;
				background: transparent;
				font-size: 15px;
				color: $black;
				font-family: $font;
				letter-spacing: 1px;
				&:hover
				{
					text-decoration: underline;
				}
			}
		}
	}
}

#shop_content{
	width: 80%;
	margin: auto;
	display: flex;
}

#shop_content_left{
	flex: 2;
	display: flex;
	flex-wrap: wrap;
	&>ul
	{
		@include block_size(13vw,40vh);
		margin: 2%;
		margin-left: 0;
		margin-top: 0;
		box-shadow: 2px 4px 10px rgba(0,0,0,.2);
		display: flex;
		flex-direction: column;
		&>li
		{
			padding: 0.3vw;
		}
		&>li:nth-child(1)
		{
			padding: 0;
			text-align: center;
			width: 100%;
			height: 20vh;
			&>img
			{
				@include block_size(100%,100%);
			}
		}
		&>li:nth-child(2)
		{
			text-align: center;
			&>p
			{
				font-family: $cursived, cursive;
				font-size: 15px;
				letter-spacing: 2px;
				transform: rotate(-5deg);
				color: $black;
			}
		}
		&>li:nth-child(3)
		{
			&>p
			{
				font-family: $font;
				font-size: 12px;
				color: $black;
				letter-spacing: 1px;
				height: 7vh;
			}
		}
		& > div
		{
			margin-right: 1vw;
			justify-content: space-around;
			display: flex;
			&>li:nth-child(1)
			{
				margin-left: -1vw;
				&>p
				{
					font-size: 15px;
					color: $black;
					font-family: $cursived, cursive;
					font-size: $font;
					transform: rotate(-2deg);
					text-shadow: 1px 1px 1px #fff, 1px 1px 1px #000;
				}
			}
			&>li:nth-child(2)
			{
				cursor: pointer;
				&>i
				{
					cursor: pointer;
					margin-right: 0.5vw;
					font-size: 15px;
					color: #18E833;
					&:hover
					{
						border-bottom: 1px solid darkgray;
					}
				}
				&>label
				{
					cursor: pointer;
					font-family: $font;
					letter-spacing: 2px;
					color: #18E833;
					position: absolute;
					&:hover
					{
						border-bottom: 1px solid darkgray;
					}
				}
			}
		}
		&>i
		{
			cursor: pointer;
			position: absolute;
			color: #fff;
			font-size: 15px;
			text-shadow: 1px 1px 1px #fff, 1px 1px 1px #000;
			margin-left: 10.5vw;
			margin-top: 1vh;
			opacity: 0.8;
			&:hover
			{
				opacity: 1;
			}
		}
	}
}

#shop_content_right
{
	flex: 0.5;
	display: flex;
	flex-direction: column;
	&>div
	{
		margin-bottom: 5vh;
		box-shadow: 2px 4px 10px rgba(0,0,0,.2);
	}
	& h5
	{
		margin: 1vw;
		color: $black;
		font-family: $font;
	}
	&>div
	{
		&>div
		{
			& > div
			{
				display: flex;
				border-bottom: 1px solid darkgray;
				margin-bottom: 0.5vh;
				&>div:nth-child(1)
				{
					& > a
					{
						& > img
						{
							@include block_size(2vw,2vw);
							@include border(50%);
						}
					}
				}
				&>div:nth-child(2)
				{
					margin-left: 0.5vw;
					&>a:nth-child(1)
					{
						text-decoration: none;
						font-size: 12px;
						color: $black;
						opacity: 0.8;
						font-family: $cursived, cursive;
						&:hover
						{
							text-decoration: underline;
						}
					}
					&>div:nth-child(2)
					{
						font-size: 10px;
						color: $black;
						opacity: 0.6;
						font-family: $font;
					}
				}
			}
		}
	}
}

#cats
{
	&>ul:nth-child(2)
	{
		&>li
		{
			cursor: pointer;
			display: flex;
			margin-bottom: 1vh;
			&:hover
			{
				opacity: 0.5;
			}
			&>div:nth-child(1)
			{
				display: flex;
				&>i
				{
					flex: 1;
					color: $font;
					font-size: 12px;
					margin-right: 1vw;
					margin-left: 1vw;
					margin-top: 1vh;
					opacity: 0.7;
				}
			}
			&>div:nth-child(2)
			{
				flex: 2;
				&>p
				{
					font-size: 12px;
					color: $black;
					font-family: $font;
				}
				&>p:nth-child(2)
				{
					font-size: 8px;
					color: $black;
					font-family: $font;
				}
			}
			&>div:nth-child(3)
			{
				flex: 1;
				float: right;
				color: $black;
				font-size: 15px;
				opacity: 0.7;
			}
		}
	}
	&>ul:nth-child(2)
	{
		&>div
		{
			display: none;
			&>ul
			{
				&>li
				{
					cursor: pointer;
					display: flex;
					margin-bottom: 7px;
					&:hover
					{
						opacity: 0.5;
					}
					&>div:nth-child(1)
					{
						&>i
						{
							color: $black;
							font-size: 14px;
							margin-right: 10px;
							margin-left: 40px;
							margin-top: 4px;
							opacity: 0.7;
						}
					}
					&>div:nth-child(2)
					{
						&>p
						{
							font-size: 10px;
							color: $black;
							font-family: $font;
						}
						&>p:nth-child(2)
						{
							font-size: 8px;
							color: $black;
							font-family: $font;
						}
					}
				}
			}
		}
	}
}

#cats_add_form{
	display: flex;
	&>div
	{
		&>i
		{
			color: $black;
			font-size: 12px;
			margin-right: 1vw;
			margin-left: 1vw;
			margin-top: 1vh;
			cursor: pointer;
		}
		&>input
		{
			border: none;
			border-bottom: 1px solid #424242;
			padding: 0.2vw;
			font-size: 12px;
			font-family: $font;
			width: 100%;
		}
	}
	&div:nth-child(3)
	{
		&>i
		{
			color: $black;
			font-size: 12vw;
			margin-right: 1vw;
			margin-left: 1vw;
			opacity: 0.6;
			cursor: pointer;
		}
	}
}

#podcats_add_form
{
	display: flex;
	&>div
	{
		&>i
		{
			color: $black;
			font-size: 12px;
			margin-right: 10px;
			margin-left: 10px;
			margin-top: 3px;
			cursor: pointer;
		}
		&>input
		{
			border: none;
			border-bottom: 1px solid $black;
			padding: 3px;
			font-size: 10px;
			font-family: $font;
			width: 100%;
		}
	}
	&>div:nth-child(3)
	{
		&>i
		{
			color: $black;
			font-size: 12px;
			margin-right: 10px;
			margin-left: 15px;
			opacity: 0.6;
			cursor: pointer;
		}
	}
}

/*----Modals  settings-----*/
.modal_window
{
	display: none;
}

#new_message_modal
{
	display: none;
}

#photo_modal
{
	display: none;
}






/*--------------------------------------Aded animations (ripple, textfiles ext.)------------------------*/


/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}




@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}




@-webkit-keyframes fadeInFromNone {
    0% {
        opacity: 0;
    }

		50%	{
        opacity: 0.2;
		}

    100% {
    	opacity: 0;
    }
}

@-moz-keyframes fadeInFromNone {
    0% {
        opacity: 0;
    }

		50%	{
        opacity: 0.2;
		}

    100% {
    	opacity: 0;
    }
}

@-o-keyframes fadeInFromNone {
    0% {
        opacity: 0;
    }

		50%	{
        opacity: 0.2;
		}

    100% {
    	opacity: 0;
    }
}

@keyframes fadeInFromNone {
    0% {
        opacity: 0;
    }

		50%	{
        opacity: 0.2;
		}

    100% {
    	opacity: 0;
    }
}

@keyframes rotator
{
	0% { transform: rotate(0deg); }
	100% { transform: rotate(270deg); }
}

#modal_create_shop_overflow .path,
#modal_add_prod_overflow .path
{
	stroke-dasharray: 187;
	stroke-dashoffset: 0;
	transform-origin: center;
	animation:
	dash 1.4s ease-in-out infinite, 
	colors 5.2s ease-in-out infinite;
}

@keyframes colors
{
	0% { stroke: #4285F4; }
	25% { stroke: #DE3E35; }
	50% { stroke: #F7C223; }
	75% { stroke: #1B9A59; }
	100% { stroke: #4285F4; }
}

@keyframes dash
{
	0% { stroke-dashoffset: 187; }
	50% {
		stroke-dashoffset: 46.75;
		transform:rotate(135deg);
	}
	100% {
		stroke-dashoffset: 187;
		transform:rotate(450deg);
	}
}