*{
	padding: 0;
	margin: 0;
}

li{
	list-style-type: none;
}

#overlay{
	display: none;
	z-index: 4;
	width: 100vw;
	height: 100vh;
	position: fixed;
}

/*----Template settings------*/
#main_menu_dropdown{
	display: none;
}

#shop_stat_icon{
    cursor: pointer;
    position: absolute;
    color: #fff;
    top: 11vh;
    left: 50vw;
    font-size: 2vw;
    margin-top: 55vh;
}

#shop_stat_cont{
    display: none;
    box-shadow: 2px 4px 10px rgba(255, 255, 255, 0.1);
    background: transparent;
    position: absolute;
    left: 15vw;
    width: 70vw;
    height: 48vh;
    margin-top: 17vh;
}

#shop_stat_overlay{
    display: none;
    background: #000;
    position: absolute;
    left: 15vw;
    width: 70vw;
    height: 48vh;
    margin-top: 17vh;
    opacity: 0.3;
}

#shop_stat_mirror{
    display: none;
    position: absolute;
    background-image: linear-gradient(to right, rgba(0,0,0,0.4) , rgba(66,66,66,0.5));
    left: 15vw;
    width: 70vw;
    height: 48vh;
    margin-top: 17vh;
    opacity: 0.8;
}

#header{
	width: 100%;
    display: flex;
    height: 70vh;
    justify-content: space-between;
    box-shadow: 2px 4px 10px rgba(0,0,0,.2);
    position: absolute;
    z-index: 3;
}

#menu_icon{
	cursor:pointer;
	margin-top: 66.8vh;
    margin-left: 70vw;
    position: absolute;
    color: #fff;
    z-index: 5;
	padding: 10px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 2px 3px 10px rgba(0,0,0,0.4);
}

#menu_icon > div{
    position: absolute;
    margin-top: -3vh;
    width: 35vw;
    display: none;
}

#menu_icon > div > a{
	color: #000;
    font-family: Raleway;
    font-size: 15px;
    text-decoration: none;
    padding-right: 1vw;
    letter-spacing: 2px;
}

#menu_icon > div > a:hover{
	text-decoration: underline;
}

#menu_icon > i{
	color: #000;
    /* border: 1px solid #fff; */
    font-size: 20px;
}

#menu_icon > i:hover{
	box-shadow: none;
}

#menu_settings{
	cursor:pointer;
	margin-top: 66.8vh;
    margin-left: 75vw;
    position: absolute;
    color: #fff;
    z-index: 4;
}

#menu_settings > i{
	padding: 10px;
    background: #424242;
    border-radius: 50%;
    /* border: 1px solid #fff; */
    font-size: 20px;
    box-shadow: 2px 3px 10px rgba(0,0,0,0.4);
}

#menu_settings > i:hover{
	box-shadow: none;
}

#menu_logout{
	cursor:pointer;
	margin-top: 66.8vh;
    margin-left: 80vw;
    position: absolute;
    color: #fff;
    z-index: 4;
}

#menu_logout > i{
	padding: 10px;
    background: #424242;
    border-radius: 50%;
    /* border: 1px solid #fff; */
    font-size: 20px;
    box-shadow: 2px 3px 10px rgba(0,0,0,0.4);
}

#menu_logout > i:hover{
	box-shadow: none;
}

#content{
	position: absolute;
    width: 100%;
    margin-top: 75vh;
    width: 80vw;
    margin-left: 10vw;
}

#header_image{
    background: url(../img/headers.jpg);
    background-size: cover;
	height: 70vh;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}

#header_owerflow{
	background-color: #000;
	height: 70vh;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	opacity: 0.6;
	z-index: 2;
}

#search{
    margin-left: 35vw;
    margin-top: 3vh;
}

#search > i{
	position: absolute;
    font-size: 15px;
    color: #fff;
    padding: 8px;
    margin-left: 24vw;
}

#search > input{
	position: absolute;
    padding: 8px;
    font-size: 15px;
    color: #fff;
    border: none;
    width: 23vw;
    background: transparent;
    outline: none;
}

#search > div{
	position: absolute;
    background: #fff;
    width: 28%;
    height: 5vh;
    opacity: 0.1;
    border-radius: 3px;
}

#main_menu{
	display: none;
}

#main_menu_links{
	display: flex;
    align-items: center;
    width: 100%;
    margin-right: 100px;
}

#main_menu_links > a{
	color: #424242;
    font-size: 14px;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 0 20px 0 20px;
}

#main_menu_links > a:hover{
	opacity: 0.8;
	text-decoration: underline;
}

#my_page_user_info{
	display: flex;
}

#my_info{
	margin-right: 10vw;
	display: flex;
    padding: 14px 50px 14px 10px;
    justify-content: space-between;
}

#my_info > div{
	width: 40%;
    display: flex;
}

#my_info > div > img{
	width: 50px;
    height: 50px;
    display: block;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -o-border-radius: 50px;
    -webkit-border-radius: 50px;
    margin-left: 15px;
    margin-right: 20px;
}

#my_info > div > div{
	text-align: right;
}

#my_info > div > div > p:nth-child(1){
	letter-spacing: 1px;
	font-family: Raleway;
	font-size: 16px;
	color: #fff;
	margin-top: 8px;
	opacity: 0.8;
}

#my_info > div > div > p:nth-child(2){
	letter-spacing: 1px;
	font-family: Raleway;
	font-size: 10px;
	color: #fff;
	margin-top: 4px;
	opacity: 0.8;
}

/*----My-page settings------*/
#my_page_info{
	display: flex;
    margin: 50px 50px 14px 10px;
}

#my_page_info > img{
	width: 40px;
    height: 40px;
    display: block;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -o-border-radius: 50px;
    -webkit-border-radius: 50px;
    margin-left: 25px;
    margin-right: 25px;

}

#my_page_info > div > p:nth-child(1){
	font-size: 16px;
	color: #000;
	opacity: 0.6;
}

#my_page_info > div > p:nth-child(2){
	text-align: left;
	font-size: 12px;
	color: #000;
	opacity: 0.6;
	margin-top: 4px;
}

#my_page_call,#my_page_message{
	cursor: pointer;
	font-size: 16px;
	color: #747474;
	padding: 50px 50px 14px 10px;
	text-align: center;
}

#my_page_call:hover,#my_page_message:hover{
	color: #424242;
}

#my_page_user{
	position: absolute;
	z-index: 2;
	margin-top: -37vh;
	display: flex;
	flex-direction: column;
    margin-left: 8vw;
}

#my_page_user_top{
	display: flex;
    padding-bottom: 6vh;
    border-bottom: 1px solid #ccc;
}

#my_page_user_top > div:nth-child(1){
	width: 80px;
    height: 80px;
}

#my_page_user_top > div:nth-child(1) > img{
	border-radius: 70px;
	border: 2px solid #fff;
    width: 100%;
    height: 100%;
}

#my_page_user_top > div:nth-child(2){
	margin-left: 3vw;
}

#my_page_user_top > div:nth-child(2) > div{
	margin-top: 1vh;
}

#my_page_user_top > div:nth-child(2) > div:nth-child(1){
	font-family: Raleway;
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
}

#my_page_user_top > div:nth-child(2) > div:nth-child(2){
	opacity: 0.7;
	color: #fff;
    font-family: Raleway;
    font-size: 15px;
    letter-spacing: 1px;
}

#my_page_user_top > div:nth-child(2) > div:nth-child(2) > i{
	margin-right: 1vw;
    color: #fff;
    font-size: 15px;
}

#my_page_user_top > div:nth-child(2) > div:nth-child(3){
	margin-top: 2vh;
}

#my_page_user_top > div:nth-child(2) > div:nth-child(3) > i{
	color: #fff;
	font-size: 18px;
	margin-right: 1vw;
}

#my_page_user_bottom{
	display: flex;
    flex-direction: column;
    padding-top: 4vh;
}

#my_page_user_bottom_nums > ul{
    color: #fff;
	display: flex;
}

#my_page_user_bottom_nums > ul > li{
	text-align: center;
	width: 9vw;
	font-size: 17px;
	font-family: Raleway;
	letter-spacing: 2px;
}

#my_page_user_bottom_menu > ul{
    color: #fff;
	display: flex;
}

#my_page_user_bottom_menu > ul > li{
	text-align: center;
	width: 9vw;
	font-size: 10px;
	font-family: Raleway;
	opacity: 0.7;
	letter-spacing: 2px;
}

#my_page{
	margin-top: -5vh;
    position: absolute;
    margin-left: -10vw;
    width: 98.2vw;
}

#my_page_menu{
    overflow-y: scroll;
    overflow-x: hidden;
    background: #F2F5F8;
    min-height: 58vh;
    float: left;
    width: 25vw;
}

#my_page_menu_search{
    margin-top: 4vh;
    margin-bottom: 10vh;
}

#my_page_menu_search > i{
    position: absolute;
    margin-left: 1vw;
    margin-top: 1.5vh;
    opacity: 0.5;
}

#my_page_menu_search > input{
    padding: 8px;
    text-align: center;
    border: none;
    border-radius: 2px;
    background: #ECEFF5;
    font-family: Raleway;
    font-size: 12px;
    width: 75%;
    outline: none;
}

#my_page_menu_search > button{
    font-size: 13px;
    padding: 8px;
    border: none;
    background: #ECEFF5;
    opacity: 0.8;
    font-family: Raleway;
    cursor: pointer;
}

#my_page_menu > ul > li{
    display: flex;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 1vw;
    cursor: pointer;
}

#my_page_menu > ul > li:hover{
    background: #f1eded;
}

#my_page_menu > ul > li > img{
    height: 5vw;
    width: 5vw;
    border-radius: 20%;
}

#my_page_menu > ul > li > p{    
    color: #212121;
    font-family: Raleway;
    letter-spacing: 1px;
    margin-left: 1vw;
    margin-top: 2vh;
    align-items: center;
    font-size: 13px;
}

#my_page_content{
    z-index: 2;
    background: #FBF9F9;
    box-shadow: -9px 2px 30px rgba(0,0,0,.1);
    float: left;
    width: 73.2vw;
}

#my_page_content_main_overlay
{
    position: absolute;
    width: 73.2vw;
    height: 58vh;
    background: #000;
    opacity: 0.5;
    z-index: 2;
}

#my_page_content_main{
    position: absolute;
    width: 73.2vw;
    height: 58vh;
}

#my_page_content_main > img{
    width: 100%;
    height: 100%;
    object-fit: cover; /* Do not scale the image */
  	object-position: center;
}

#my_page_content_us_info{
    z-index: 3;
    position: absolute;
    margin-top: -2vw;
    margin-left: 64vw;
}

#my_page_content_us_info > img{
    border-radius: 50%;
    width: 5vw;
    height: 5vw;
    border: 1px solid #fff;
}

#my_page_content_us_info > p{
    color: #fff;
    font-family: Raleway;
    letter-spacing: 2px;
    font-size: 12px;
    text-align: center;
}
/*----Friends page settings------*/
#friends_cont_menu > ul{
	display: flex;
	margin: 50px auto 50px;
	justify-content: center;
	//box-shadow: 2px 4px 10px rgba(0,0,0,.2);
	border-bottom: 1px solid #747474;
	width: 50%;
}
#friends_cont_menu > ul > li{
	cursor: pointer;
	padding: 15px 20px 15px 20px;
	font-size: 16px;
	font-family: Raleway;
}

#friends_cont_menu > ul > li {
  background-position: center;
  transition: background 0.8s;
}
#friends_cont_menu > ul > li:hover {
  background: radial-gradient(circle, transparent 1%, #fff 1%) center/5000%;
}
#friends_cont_menu > ul > li:active {
  background-color: #EEEEEE;
  background-size: 100%;
  transition: background 0s;
}

#friends_cont_menu > ul > svg{
	position: absolute;
    margin-top: 46px;
    margin-left: -70px;
}
#friends_cont_menu > ul > li > span{
	color: #747474;
}

#search_friends_view{
	position: absolute;
	opacity: 0;
	margin-top: 15vh;
}

#search_friends_input_form{
	width: 27vw;
    margin-left: 18vw;
}

#search_friends_input_form > input{
	 width: 100%;
    position: absolute;
    padding: 5px;
    font-family: Raleway;
    color: #424242;
    border: none;
    z-index: 2;
    outline: none;
    background: transparent;
    border-bottom: 1px solid #ccc;
}

#search_friends_input_form > i{
	position: absolute;
    color: #424242;
    font-size: 14px;
    z-index: 3;
    margin-left: 43vw;
    cursor: pointer;
}

#search_friends_input_form > label{
	font-family: Raleway;
    font-size: 14px;
    color: gray;
    letter-spacing: 1px;
    margin-left: 1vw;
    margin-top: 0vh;
    position: absolute;
}

#search_friends_input_form_line{
	height: 2px;
    width: 0;
    margin-left: 23vw;
    position: absolute;
    background: #40c4ff;
    z-index: 3;
    margin-top: 3.9vh;
    position: absolute;
}

#search_friends_stat{
	border-bottom: 1px solid gray;
    margin-top: 10vh;
    position: absolute;
    width: 80vw;
}

#friends_stat,#followers_stat{
    border-bottom: 1px solid gray;
    margin-top: -4vh;
    position: absolute;
    width: 80vw;
}

#search_friends_stat > label:nth-child(1),
#friends_stat > label:nth-child(1),
#followers_stat > label:nth-child(1){
	font-family: Raleway;
    letter-spacing: 1px;
    font-size: 15px;
    padding: 10px;
}

#search_friends_stat > label:nth-child(2),
#friends_stat > label:nth-child(2),
#followers_stat > label:nth-child(2){
	font-family: Raleway;
    font-weight: 600;
    font-size: 15px;
}

#friends_dropdown {
    z-index: 1000;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    background-clip: padding-box;
      -webkit-transition: all 0.2s ease;
      opacity:0;
      -webkit-transform-origin: right top 0px; 
      -webkit-transform: scale(0); 
}
#friends_dropdown ul {
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
      position:relative;
}

#friends_dropdown.active {
  opacity:1;
  -webkit-transform-origin: right top 0px; 
  -webkit-transform: scale(1); 
}

#friends_dropdown li {
    cursor: pointer;
    color:#666;
    margin: 0;
    padding: 5px 0 5px 15px;
    height: 24px;
    list-style: none;
      opacity: 0; 
      transform: translateY(0px);
}
#friends_dropdown li {
     -webkit-transition: all 0.3s ease;
    transform: translateY(-30%);
}
#friends_dropdown.active li {
    opacity: 1; 
    transform: translateY(0px);
}

.friends_search_spinner{
	margin-left: 30vw;
    margin-top: 25vh;
    z-index: 3;
  	animation: rotator 1.4s linear infinite;
}



@keyframes rotator {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(270deg); }
}

#modal_create_shop_overflow .path,#modal_add_prod_overflow .path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation:
    dash 1.4s ease-in-out infinite, 
    colors 5.2s ease-in-out infinite;
}

@keyframes colors {
	0% { stroke: #4285F4; }
	25% { stroke: #DE3E35; }
	50% { stroke: #F7C223; }
	75% { stroke: #1B9A59; }
  100% { stroke: #4285F4; }
}

@keyframes dash {
 0% { stroke-dashoffset: 187; }
 50% {
   stroke-dashoffset: 46.75;
   transform:rotate(135deg);
 }
 100% {
   stroke-dashoffset: 187;
   transform:rotate(450deg);
 }
}

#search_friends_result{
	position: absolute;
    margin-top: 18vh;
    margin-bottom: 10vh;
}

#friends_view{
    position: absolute;
    margin-bottom: -3vh;
}

#followers_view{
    position: absolute;
    opacity: 0;
    margin-top: 15vh;
}

#search_friends_result > ul,
#friends_view > ul,
#followers_view > ul{
    display: flex;
    margin-top: 5vh;
}

#search_friends_result > ul > li,
#friends_view > ul > li,
#followers_view > ul > li{
    width: 10vw;
    margin: 2vw;
    padding: 2vw 3vw 2vw 3vw;
    box-shadow: 2px 4px 10px rgba(0,0,0,.2);
}

#search_friends_result > ul > li > div:nth-child(1),
#friends_view > ul > li > div:nth-child(1),
#followers_view > ul > li > div:nth-child(1){
	    text-align: right;
            max-height: 0vh;
}

#search_friends_result > ul > li > div:nth-child(1) > i,
#friends_view > ul > li > div:nth-child(1) > i,
#followers_view > ul > li > div:nth-child(1) > i{
	cursor: pointer;
    font-size: 14px;
    color: #424242;
}

#search_friends_result > ul > li > div:nth-child(2),
#friends_view > ul > li > div:nth-child(2),
#followers_view > ul > li > div:nth-child(2){
	border-bottom: 2px solid #ccc;
    padding-bottom: 4vh;
    margin-top: -10vh;
}

#search_friends_result > ul > li > div:nth-child(2) > a:nth-child(1),
#friends_view > ul > li > div:nth-child(2) > a:nth-child(1),
#followers_view > ul > li > div:nth-child(2) > a:nth-child(1)
{
	cursor: pointer;
	text-align: center;
    width: 100%;
    display: block;
}

#search_friends_result > ul > li > div:nth-child(2) > a:nth-child(1) > img,
#friends_view > ul > li > div:nth-child(2) > a:nth-child(1) > img,
#followers_view > ul > li > div:nth-child(2) > a:nth-child(1) > img{
	width: 7vw;
    height: 7vw;
    border-radius: 50%;
}

#search_friends_result > ul > li > div:nth-child(2) > a:nth-child(2),
#friends_view > ul > li > div:nth-child(2) > a:nth-child(2),
#followers_view > ul > li > div:nth-child(2) > a:nth-child(2)
{
	cursor: pointer;
	text-decoration: none;
    font-family: Raleway;
    color: #424242;
    text-align: center;
    width: 100%;
    display: block;
    margin-top: 2vh;
    font-size: 16px;
    letter-spacing: 2px;
    min-height: 9vh;
}

#search_friends_result > ul > li > div:nth-child(2) > a:nth-child(2):hover,
#friends_view > ul > li > div:nth-child(2) > a:nth-child(2):hover,
#followers_view > ul > li > div:nth-child(2) > a:nth-child(2):hover{
	text-decoration: underline;
}

#search_friends_result > ul > li > div:nth-child(2) > p,
#friends_view > ul > li > div:nth-child(2) > p,
#followers_view > ul > li > div:nth-child(2) > p{
	text-align: center;
    font-family: Raleway;
    font-size: 12px;
    color: #424242;
    margin-top: 1vh;
    letter-spacing: 1px;
    min-height: 10vh;
}

#search_friends_result > ul > li > div:nth-child(3),
#friends_view > ul > li > div:nth-child(3),
#followers_view > ul > li > div:nth-child(3){
	display: flex;
    justify-content: space-around;
}

#search_friends_result > ul > li > div:nth-child(3) > i,
#friends_view > ul > li > div:nth-child(3) > i,
#followers_view > ul > li > div:nth-child(3) > i{
	cursor: pointer;
	font-size: 20px;
    color: gray;
    margin-top: 2vh;
}

#search_friends_result > ul > li > div:nth-child(3) > i:hover,
#friends_view > ul > li > div:nth-child(3) > i:hover,
#followers_view > ul > li > div:nth-child(3) > i:hover{
	font-size: 20px;
    color: #40c4ff;
    margin-top: 2vh;
}

#black_list_view{
	position: absolute;
	opacity: 0;
	margin-top: 15vh;
}


/*----Dialogs page style-----*/

#dialogs_conteiner{
    margin-left: -10vw;
    width: 100vw;
    margin-top: -5vh;
    min-height: 85vh;
}

/*----Shops list style-----*/
#shops_list{
	display: flex;
	flex-direction: column;
}

#dialogs_view{
    height: 72vh;
    float: left;
    width: 30vw;
    padding: 2vw;
    /* flex: 1; */
    background: #F2F5F8;
    padding-bottom: 10vh;
}

#dialogs_view_search{
	margin-bottom: 10vh;
}

#dialogs_view_search > i{
    position: absolute;
    margin-left: 7.7vw;
    margin-top: 1.5vh;
    opacity: 0.5;
}

#dialogs_view_search > input{
	padding: 8px;
    text-align: center;
    border: none;
    border-radius: 2px;
    background: #ECEFF5;
    font-family: Raleway;
    font-size: 12px;
    width: 75%;
    outline: none;
}

#dialogs_view_search > button{
	font-size: 13px;
    padding: 8px;
    border: none;
    background: #ECEFF5;
    opacity: 0.8;
    font-family: Raleway;
    cursor: pointer;
}

#dialogs_view > ul{
	cursor: pointer;
	padding: 1vw;
	display: flex;
}

#dialogs_view > ul:hover{
	background: #ECEFF5;
}

#dialogs_view > ul > li{
	display: flex;
	flex-direction: column;
}

#dialogs_view > ul > li:nth-child(1) > a{
	width: 60px;
	height: 60px;
	border-radius: 100px;
}

#dialogs_view > ul > li:nth-child(2){
	width: 20vw;
}

#dialogs_view > ul > li:nth-child(2) > a{
	text-decoration: none;
}

#dialogs_view > ul > li:nth-child(3){
	margin-top: 3vh;
}

#dialogs_view > ul > li:nth-child(3) > div{
	font-size: 8px;
	color: #ccc;
	font-family: Raleway;
}

#dialogs_view > ul > li > a > img{
	width: 40px;
    height: 40px;
    border-radius: 100px;
}

#dialog_list_name > a:nth-child(1){
	font-family: Raleway;
    font-size: 14px;
    color: #000;
    opacity: 0.7;
    letter-spacing: 1px;
}

#dialog_list_name > a:nth-child(2){
    font-family: Raleway;
    font-size: 12px;
    color: #424242;
    opacity: 0.8;
    margin-top: 1vh;
    letter-spacing: 1px;
}

#messages_view{
	width: 66vw;
    /* flex: 2; */
    background: #FBF9F9;
    z-index: 2;
    box-shadow: -9px 2px 30px rgba(0,0,0,.1);
    overflow-y: scroll;
    overflow-x: hidden;
}

#messages_view > div:nth-child(1){
	position: fixed;
    display: flex;
    padding: 2vw;
    opacity: 0;
    width: 100%;
    z-index: 3;
    background: #FBF9F9;
}

#messages_view > div:nth-child(1) > div:nth-child(1){
	width: 50%;
}

#messages_view > div:nth-child(1) > div:nth-child(1) > p:nth-child(1){
	letter-spacing: 1px;
    font-family: Raleway;
    font-size: 15px;
    opacity: 0.7;
    letter-spacing: 1px;
}

#messages_view > div:nth-child(1) > div:nth-child(1) > p:nth-child(2){
	font-family: Raleway;
    font-size: 12px;
    margin-top: 1vh;
    opacity: 0.6;	
    letter-spacing: 1px;
}

#messages_view > div:nth-child(1) > div:nth-child(2) > i{
	font-size: 15px;
	color: #000;
	opacity: 0.6;
	margin-right: 3vw;
}

#messages_view > div:nth-child(2){
    height: 67vh;
	margin: 2vw;
    opacity: 0;
}

#messages_view > div:nth-child(2) > div{
    position: absolute;
    bottom: 0;
    margin-left: -2vw;
    width: 80%;
}

#input_message{
	z-index: 4;
    width: 100%;
    position: fixed;
    margin-top: 1vh;
}

#input_message > div
{
    position: absolute;
    margin-top: -6vh;
    margin-left: 57vw;
}

#input_message > div > i{
    color: gray;
    font-size: 14px;
    margin-left: 1vw;
    cursor: pointer;
}

#input_message > input{
    font-family: Raleway;
    font-size: 14px;
    color: #424242;
    letter-spacing: 1px;
    width: 100%;
    height: 9vh;
    border: none;
    background: #ECEFF5;
    outline: none;
    padding: 0px 10px 0px 10px;
}

#create_dialog_modal{
    display: none;
    width: 37vw;
    background: #fff;
    position: absolute;
    z-index: 10;
    box-shadow: 2px 4px 10px rgba(0,0,0,.2);
    margin-left: 30vw;
    margin-top: 20vh;
}

#create_dialog_header{
    border-bottom: 1px solid #ccc;
    padding: 1vw;
}

#create_dialog_header > p{
    font-family: Raleway;
    font-size: 12px;
    letter-spacing: 1px;
}

#create_dialog_content > ul > li{
    cursor: pointer;
    display: flex;
    padding: 1vw;
    margin-bottom: 1vh;
}

#create_dialog_content > ul > li:hover{
    background: #ccc;
}

#create_dialog_content > ul > li > img{
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
}

#create_dialog_content > ul > li > p{
    margin-left: 3vw;
    font-family: Raleway;
    font-size: 14px;
    letter-spacing: 2px;
}

#messages_view > div:nth-child(2) > ul{
    margin-bottom: 19vh;
}

.my_message{
	margin-top: 5vh;
	display: flex;
}

#messages_profile_m {
    overflow-x: hidden;
    overflow-y: scroll;
    width: 17vw;
    position: absolute;
    z-index: 0;
    background: #fff;
    box-shadow: -9px 2px 30px rgba(0,0,0,.2);
    height: 0vh;
    margin-top: 10vh;
    margin-left: 48vw;
    z-index: 4;
}

#messages_profile_m > div{
	opacity: 0;
}

#messages_profile_m > div > img{
    border-radius: 50%;
    width: 9vw;
    height: 9vw;
    margin-left: 4vw;
}

#messages_profile_m > div > p:nth-child(1){
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    color: gray;
}

#messages_profile_m > div > p:nth-child(3){
    font-family: Raleway;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 1vh;
}

#messages_profile_m > div > p:nth-child(4){
    font-size: 10px;
    font-family: Raleway;
    text-align: center;
}

#messages_profile_m > div > p:nth-child(5)
{
    font-family: Raleway;
    letter-spacing: 1px;
    margin-bottom: 1vh;
    font-size: 14px;
    margin-top: 3vh;
    text-align: left;
    margin-left: 1vw;
}

#messages_profile_m > div > ul > li{
    margin-top: 3vh;
}

#messages_profile_m > div > ul > li > p{
    font-family: Raleway;
    letter-spacing: 1px;
    margin-bottom: 1vh;
    font-size: 10px;
    margin-top: 3vh;
    text-align: left;
    margin-left: 1vw;
}

.profile_m_imgs{
    display: flex;
}

.profile_m_imgs > img{
    width: 6vw;
    height: 6vw;
    margin-left: 1vw;
    border-radius: 10%;
}

.profile_m_img > img{
    width: 16vw;
    height: 8vw;
    margin-left: 1vw;
    border-radius: 5%;
}

.friend_message{
    margin-top: 5vh;
    display: flex;
}

.friend_message > div:nth-child(3){
	width: 6%;
	text-align: right;
}

.friend_message > div:nth-child(3) > img{
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

.friend_message > div:nth-child(1){
	width: 100%;
}

.friend_message > div:nth-child(2){
	display: flex;
    font-size: 13px;
    font-family: Raleway;
    color: #fff;
    letter-spacing: 1px;
    background: #79C8F8;
    align-items: center;
    margin-right: 1vw;
    padding: 0px 10px 0px 10px;
    border-radius: 4px;
    min-width: 20%;
}

.my_message > div:nth-child(3){
	width: 100%;
}

.my_message > div:nth-child(1) > img{
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

.my_message > div:nth-child(2){
	display: flex;
    font-size: 13px;
    font-family: Raleway;
    color: #000;
    opacity: 0.6;
    letter-spacing: 1px;
    background: #ECEFF5;
    align-items: center;
    margin-left: 1vw;
    padding: 0px 10px 0px 10px;
    border-radius: 4px;
    min-width: 20%;
}

#shops_list > ul{
	display: flex;
	flex-direction: center;
	width: 60%;
	margin: auto;
	margin-bottom: 50px;
}

#shops_cont > div:nth-child(1){
	width: 60%;
    margin: auto;
    margin-bottom: 40px;
	display: flex;
    padding: 30px 20px 0 20px;
	box-shadow: 2px 4px 10px rgba(0,0,0,.2);
}

#shops_cont > div:nth-child(1) > button{
	cursor: pointer;
	border: transparent;
	padding: 5px 10px 5px 10px;
	font-size: 16px;
	color: #fff;
	background-color: #424242;
	font-family: Raleway;
    height: 30px;
    margin-top: 3px;
    margin-right: 5%;
    width: 20%;
	border-radius: 7px;
}

#shops_list > ul > li{
}

#shops_list > ul > li:nth-child(1){
	width: 130px;
	height: 130px;
	margin: 10px;
}

#shops_list > ul > li:nth-child(1) > img{
	width: 100%;
	height: 100%;
}

#shops_list > ul > li:nth-child(2){
	flex: 2;
	border-bottom: 1px solid #747474;
	padding-bottom: 5px;
	margin-right: 0;
}

#shops_list > ul > li:nth-child(2) > a{
    width: 60%;
	font-family: Raleway;
	font-size: 20px;
	margin-bottom: 10px;
	letter-spacing: 1px;
	text-decoration: none;
	cursor: pointer;
	color: #000;
	display: block;
}

#shops_list > ul > li:nth-child(2) > a:hover{
	text-decoration: underline;
}

#shops_list > ul > li:nth-child(2) > p{
	font-family: Raleway;
	color: #424242;
	font-size: 12px;
}

#shops_list > ul > li:nth-child(3){
	text-align: right;
	border-bottom: 1px solid #747474;
	display: flex;
	flex-direction: column;
}

#shops_list > ul > li:nth-child(3) > i{
	font-size: 18px;
	color: #747474;
	letter-spacing: 1px;
	cursor: pointer;
}

.shops_list_dropdown {
    margin-top: 2%;
  	position: absolute;
	z-index: 3;
	font-size: 14px;
	text-align: left;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,0.15);
	border-radius: 4px;
	box-shadow: 0 6px 12px rgba(0,0,0,0.175);
	background-clip: padding-box;
  	-webkit-transition: all 0.2s ease;
  	opacity:0;
  	-webkit-transform-origin: right top 0px; 
  	-webkit-transform: scale(0); 
}
.shops_list_dropdown ul {
  	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	list-style: none;
  	position:relative;
}

.shops_list_dropdown.active {
  opacity:1;
  -webkit-transform-origin: right top 0px; 
  -webkit-transform: scale(1); 
}

.shops_list_dropdown li {
  	color:#666;
	margin: 0;
	padding: 5px 0 5px 15px;
	height: 24px;
	list-style: none;
  	opacity: 0; 
  	transform: translateY(0px);
}
.shops_list_dropdown li {
	cursor: pointer;
  	-webkit-transition: all 0.3s ease;
  	transform: translateY(-30%);
}
.shops_list_dropdown li:hover{
	background: rgba(0,0,0,0.175);
}
.shops_list_dropdown.active li {
  	opacity: 1; 
  	transform: translateY(0px);
}

/*----Shop page------------*/
#shop_header{
	width: 81%;
    margin-top: 20px;
    margin-left: 1%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#shop_header > div{
	flex: 2;
	display: flex;
}

#shop_header > div > h1{
	font-weight: 100;
    font-family: Raleway;
    letter-spacing: 1px;
    margin-top: 20px;
    font-size: 20px;
    margin-left: 10px;
}

#shop_header > div > img{
	display: block;
	width: 60px;
	height: 60px;
}

#shop_header > button{
	display: block;
	background: #747474;
	color: #fff;
	float: right;
	font-family: Raleway;
	padding: 10px;
	font-size: 14px;
	border: transparent;
	border-radius: 7px;
	height: 40px;
}

#shop_cont > p{
	width: 80%;
	color: #747474;
	font-family: Raleway;
	font-size: 14px;
	margin: auto;
    margin-bottom: 5px;
}

#shop_cont > p > button{
	cursor: pointer;
	font-size: 16px;
	background: transparent;
	margin-left: 15px;
	border: none;
	font-family: Raleway;
	color: #747474;
}

#shop_cont > p > button:hover{
	text-decoration: underline;
}

#shop_content{
	width: 80%;
	margin: auto;
	display: flex;
}

#shop_content_left{
	flex: 2;
	display: flex;
	flex-wrap: wrap;
}

#shop_content_left > ul{
	width: 46%;
	height: 500px;
	margin: 3%;
	margin-left: 0;
	margin-top: 0;
	box-shadow: 2px 4px 10px rgba(0,0,0,.2);
	display: flex;
	flex-direction: column;
}

#shop_content_left > ul > li{
	padding: 0 20px 0 20px;
}

#shop_content_left > ul > li:nth-child(1){
	padding: 0;
	text-align: center;
	width: 100%;
	height: 200px;
}

#shop_content_left > ul > li:nth-child(1) > img{
	width: 200px;
	height: 100%;
}

#shop_content_left > ul > li:nth-child(2) > p{
	font-family: Raleway;
	font-size: 16px;
	letter-spacing: 1px;
	font-weight: 600;
	height: 30px;
}

#shop_content_left > ul > li:nth-child(3) > p{
	font-family: Raleway;
	font-size: 20px;
	color: #424242;
	height: 35px;
}

#shop_content_left > ul > li:nth-child(4) > p{
	height: 110px;
	font-size: 12px;
	color: #747474;
	font-size: Raleway;
}

#shop_content_left > ul > li:nth-child(5) > button{
	font-size: 16px;
	font-family: Raleway;
	padding: 7px 25px 7px 25px;
	border: transparent;
	color: #fff;
	background: #747474;
	margin-bottom: 20px;
	border-radius: 7px;
}

#shop_content_right{
	flex: 0.5;
	display: flex;
	flex-direction: column;
}

#shop_content_right > div{
	margin-bottom: 50px;
	box-shadow: 2px 4px 10px rgba(0,0,0,.2);
}

#shop_content_right h5{
	margin: 15px;
    color: #424242;
    font-family: Raleway;
}

#cats > ul:nth-child(2) > li{
	cursor: pointer;
	display: flex;
	margin-bottom: 10px;
}

#cats > ul:nth-child(2) > li:hover{
	opacity: 0.5;
}

#cats > ul:nth-child(2) > li > div:nth-child(1) > i{
	color: #424242;
	font-size: 17px;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 4px;
	opacity: 0.7;
}

#cats > ul:nth-child(2) > li > div:nth-child(2) > p{
	font-size: 15px;
	color: #424242;
	font-family: Raleway;
}

#cats > ul:nth-child(2) > li > div:nth-child(2) > p:nth-child(2)
{
	font-size: 10px;
	color: #424242;
	font-family: Raleway;
}

#cats > ul:nth-child(2) > li > div:nth-child(3)
{
	color: #424242;
	font-size: 20px;
	margin-right: 10px;
	margin-left: 100px;
	margin-top: 4px;
	opacity: 0.7;
}

#cats > ul:nth-child(2) > div{
	display: none;
}

#cats > ul:nth-child(2) > div > ul > li{
	cursor: pointer;
	display: flex;
	margin-bottom: 7px;
}

#cats > ul:nth-child(2) > div > ul > li:hover{
	opacity: 0.5;
}

#cats > ul:nth-child(2) > div > ul > li > div:nth-child(1) > i{
	color: #424242;
	font-size: 14px;
	margin-right: 10px;
	margin-left: 40px;
	margin-top: 4px;
	opacity: 0.7;
}

#cats > ul:nth-child(2) > div > ul > li > div:nth-child(2) > p{
	font-size: 10px;
	color: #424242;
	font-family: Raleway;
}

#cats > ul:nth-child(2) > div > ul > li > div:nth-child(2) > p:nth-child(2)
{
	font-size: 7px;
	color: #424242;
	font-family: Raleway;
}

#cats_add_form{
	display: flex;
}

#cats_add_form > div > i{
	color: #424242;
	font-size: 15px;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 3px;
	cursor: pointer;
}

#cats_add_form > div > input{
	border: none;
    border-bottom: 1px solid #424242;
    padding: 3px;
    font-size: 15px;
    font-family: Raleway;
    width: 100%;
}

#cats_add_form > div:nth-child(3) > i{
	color: #424242;
	font-size: 15px;
	margin-right: 10px;
	margin-left: 15px;
	opacity: 0.6;
	cursor: pointer;
}

#podcats_add_form{
	display: flex;
}

#podcats_add_form > div > i{
	color: #424242;
	font-size: 12px;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 3px;
	cursor: pointer;
}

#podcats_add_form > div > input{
	border: none;
    border-bottom: 1px solid #424242;
    padding: 3px;
    font-size: 12px;
    font-family: Raleway;
    width: 100%;
}

#podcats_add_form > div:nth-child(3) > i{
	color: #424242;
	font-size: 12px;
	margin-right: 10px;
	margin-left: 15px;
	opacity: 0.6;
	cursor: pointer;
}

/*----Modals  settings-----*/
.modal_window{
	display: none;
}

#new_message_modal{
	display: none;
}

#photo_modal{
	display: none;
}

























/*--------------------------------------Aded animations (ripple, textfiles ext.)------------------------*/
.group 			  { 
  position:relative; 
  width: 100%;
}
.group input 				{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:100%;
  border:none;
  border-bottom:1px solid #757575;
}
.group input:focus 		{ outline:none; }

/* LABEL ======================================= */
.group label 				 {
  color:#747474; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
.group input:focus ~ label, .group input:valid ~ label 		{
  top:-20px;
  font-size:14px;
  color:#424242;
}

/* BOTTOM BARS ================================= */
.group .bar 	{ position:relative; display:block; width:103%; }
.group .bar:before, .group .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#424242; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.group .bar:before {
  left:50%;
}
.group .bar:after {
  right:50%; 
}

/* active state */
.group input:focus ~ .bar:before, .group input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.group .highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
.group input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}